{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_search_index', 'trans': 'menu.search'}], null, form.vars.value.term is not null ? form.vars.value.term : null) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.search'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form, {'method': 'GET'}) }}
        <div class="row">
            <div class="col s12 l4 offset-l1 xl3 offset-xl3">
                {{ form_row(form.term, {'label' : 'label.search'}) }}
            </div>
            <div class="col s12 l4 xl2">
                {{ form_row(form.createdAt, {'label' : 'label.added_at', 'attr': {'data-controller' : 'datepicker' } }) }}
            </div>
            <div class="col s12 l2 xl1 center btn-valigned">
                <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="content-block" data-controller="tabs">
        <div class="row">
            <div class="tabs-block col s12">
                <ul class="tabs">
                    <li class="tab col s12 l2 offset-l1 current" data-tabs-target="tab" data-action="click->tabs#display" data-for="items">
                        {{ 'label.items'|trans }} ({{ results.items|length|default(0) }})
                    </li>
                    <li class="tab col s12 l2" data-tabs-target="tab" data-action="click->tabs#display" data-for="collections">
                        {{ 'label.collections'|trans }} ({{ results.collections|length|default(0) }})
                    </li>
                    <li class="tab col s12 l2" data-tabs-target="tab" data-action="click->tabs#display" data-for="tags">
                        {{ 'label.tags'|trans }} ({{ results.tags|length|default(0) }})
                    </li>
                    <li class="tab col s12 l2" data-tabs-target="tab" data-action="click->tabs#display" data-for="wishlists">
                        {{ 'label.wishlists'|trans }} ({{ results.wishlists|length|default(0) }})
                    </li>
                    <li class="tab col s12 l2" data-tabs-target="tab" data-action="click->tabs#display" data-for="albums">
                        {{ 'label.albums'|trans }} ({{ results.albums|length|default(0) }})
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel current" data-tabs-target="panel" data-name="items">
            {% if results.items is defined and results.items|length > 0 %}
                <div class="block-element">
                    <div id="collection-items" class="grid-container-items">
                        {% for item in results.items|naturalSorting %}
                            <div class="collection-item valign-wrapper resize-element" data-title="{{ item.name }}">
                                <a class="valign" href="{{ path('app_item_show', {'id': item.id}) }}">
                                    <div class="image-wrapper placeholder" data-controller="lazy-loading">
                                        <img data-src="{{ asset(item.imageSmallThumbnail|default('build/images/default.png')) }}"
                                             data-lazy-loading-target="image"
                                        >
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="panel" data-tabs-target="panel" data-name="collections">
            {% if results.collections is defined and results.collections|length > 0 %}
                <div class="block-element">
                    {{ include('App/Collection/_collections_' ~ getContextUser().collectionsDisplayConfiguration.displayMode ~ '.html.twig', {
                        'collections': results.collections,
                        'displayConfiguration': getContextUser().collectionsDisplayConfiguration
                    }) }}
                </div>
            {% endif %}
        </div>

        <div class="panel" data-tabs-target="panel" data-name="tags">
            {% if results.tags is defined and results.tags|length > 0 %}
                <div class="block-element">
                    <table class="centered striped">
                        <thead>
                        <tr>
                            <th>{{ 'label.name'|trans }}</th>
                            <th>{{ 'label.description'|trans }}</th>
                            <th>{{ 'label.number_of_items'|trans }}</th>
                            <th>{{ 'label.percent_of_items'|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for result in results.tags %}
                            <tr class="list-element resize-element" data-title="{{ result.tag.label }}">
                                <td>
                                    <a href="{{ path('app_tag_show', {'id' : result.tag.id}) }}">{{ result.tag.label|u.truncate(50) }}</a>
                                </td>
                                <td>{{ result.tag.description|u.truncate(50) }}</td>
                                <td>{{ result.itemCount }}</td>
                                <td>{{ result.percent|round(2, 'common') }} %</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>

        <div class="panel" data-tabs-target="panel" data-name="wishlists">
            {% if results.wishlists is defined and results.wishlists|length > 0 %}
                <div class="block-element">
                    <div class="collections grid-container-collections">
                        {{ include('App/Wishlist/_wishlists_' ~ getContextUser().wishlistsDisplayConfiguration.displayMode ~ '.html.twig', {'wishlists': results.wishlists}) }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="panel" data-tabs-target="panel" data-name="albums">
            {% if results.albums is defined and results.albums|length > 0 %}
                <div class="block-element">
                    {{ include('App/Album/_albums_' ~ getContextUser().albumsDisplayConfiguration.displayMode ~ '.html.twig', {'albums': results.albums}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
