{% extends 'layout-autorized.html.twig' %}
{% import "App/macros.html.twig" as macros %}
{% form_theme form 'Form/fields.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_search_index', 'trans': 'menu.search'}], null, form.vars.value.search is not null ? form.vars.value.search : null) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
            <h1>{{ 'menu.search'|trans }}</h1>
        </div>

        <div class="content-block">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col offset-s1 s10 m4 offset-m1">
                        {{ form_row(form.search, {'label' : 'label.search'}) }}
                    </div>
                    <div class="col offset-s1 s10 m4 offset-m0">
                        {{ form_row(form.createdAt, {'label' : 'label.added_at', 'attr': {'class' : 'datepicker' } }) }}
                    </div>
                    <div class="col offset-s1 s10 m2 offset-m0">
                        {{ form_row(form.submit, {'label': 'btn.search', 'attr': {'class': 'btn waves-effect waves-light'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m2 offset-m1">
                        {{ form_row(form.searchInCollections, {'label' : 'label.collections'}) }}
                    </div>
                    <div class="col s10 offset-s1 m2 offset-m1">
                        {{ form_row(form.searchInItems, {'label' : 'label.items'}) }}
                    </div>
                    <div class="col s10 offset-s1 m2 offset-m1">
                        {{ form_row(form.searchInTags, {'label' : 'label.tags'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1">
                        {{ form_errors(form) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

        <div class="content-block">
            {% if collections|length > 0 or items|length > 0 or tags|length > 0 %}
                {% if collections|length > 0 %}
                    <div class="block-element">
                        <h5 class="header">{{ 'title.collections'|trans }}</h5>
                        <div class="collections grid-container-collections">
                            {% for collection in collections|naturalSorting %}
                                {{ include('App/Collection/partials/collection.html.twig', {'collection': collection}) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if items|length > 0 %}
                    <div class="block-element">
                        <h5 class="header">{{ 'title.items'|trans }}</h5>
                        <div id="collection-items" class="grid-container-items">
                            {% for item in items|naturalSorting %}
                                <div class="collection-item valign-wrapper resize-element" data-title="{{ item.name }}">
                                    <a class="valign" href="{{ path('app_item_show', {'id': item.id}) }}">
                                        {{ macros.lazyImage(item.image.thumbnailPath, 'aria.item'|trans({'%name%': item.name})) }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if tags|length > 0 %}
                    <div class="block-element">
                        <h5 class="header">{{ 'title.tags'|trans }}</h5>
                        <div>
                            <table class="centered striped">
                                <thead>
                                <tr>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <th>{{ 'label.description'|trans }}</th>
                                    <th>{{ 'label.number_of_items'|trans }}</th>
                                    <th>{{ 'label.percent_of_items'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for result in tags %}
                                    <tr class="list-element resize-element" data-title="{{ result.tag.label }}">
                                        <td><a href="{{ path('app_tag_show', {'id' : result.tag.id}) }}">{{ result.tag.label|truncate(50) }}</a></td>
                                        <td>{{ result.tag.description|truncate(50) }}</td>
                                        <td>{{ result.itemCount }}</td>
                                        <td>{{ result.percent|round(2, 'common') }} %</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {{ 'message.search_empty'|trans }}
            {% endif %}
        </div>
    </div>
{% endblock %}
