{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([
    {'route': 'app_scraper_collection_index', 'trans': 'menu.scrapers'},
    {'route': 'app_scraper_collection_index', 'trans': 'breadcrumb.collection_scrapers'}
]) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div data-controller="filter">
        <div class="collection-header">
            <div class="title-block">
                <h1>{{ 'menu.scrapers'|trans }}</h1>
                <ul class="nav nav-pills">
                    <li>{{ 'counter.collection_scrapers'|trans({'count': scrapers|length}) }}</li>
                </ul>
            </div>

            <div class="btn-holder">
                <div>
                    <a href="{{ path('app_scraper_collection_add') }}" class="button" title="{{ 'tooltip.add_scraper'|trans }}">
                        <i class="fa fa-plus fa-fw"></i>
                    </a>
                    <a href="#modal-scrapper-import" class="modal-trigger button"
                       title="{{ 'tooltip.import'|trans }}">
                        <i class="fa fa-import fa-fw"></i>
                    </a>
                </div>
                <div>
                    <input data-action="keyup->filter#filter" class="filter-input" autocomplete="off" type="text"
                           placeholder="{{ 'filter.by_name'|trans }}"/>
                </div>
            </div>
        </div>

        <div class="content-block">
            {{ include('/App/Scraper/_tabs.html.twig', {current: 'collection'}) }}

            <table class="striped">
                <thead>
                <tr>
                    <th>{{ 'label.name'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for scraper in scrapers %}
                    <tr class="list-element resize-element" data-title="{{ scraper.name }}"
                        data-filter-target="element">
                        <td>
                            <a href="{{ path('app_scraper_collection_show', {'id' : scraper.id}) }}">
                                <strong>{{ scraper.name }}</strong>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="modal-scrapper-import" data-controller="modal--default" class="modal modal-custom" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title"></span>{{ 'title.import_scraper'|trans }}
                </div>
                {{ form_start(scraperImportForm, {'action': path('app_scraper_collection_import') }) }}
                    {% do scraperImportForm.file.setRendered %}
                    <div class="modal-body">
                        <div class="input-field file-data s10 offset-s1 m5" data-controller="file-input">
                            <div class="btn" data-action="click->file-input#openUpload">
                                <i class="fa fa-upload fa-fw"></i>&nbsp;{{ 'btn.upload'|trans }}
                            </div>

                            <input type="file" id="collection_scraper_importer_file"
                                   name="collection_scraper_importer[file]"
                                   accept="application/json"
                                   data-action="change->file-input#displayFilename"
                                   data-file-input-target="input"
                            >

                            <div class="filename">&nbsp;&nbsp;&nbsp;<span data-file-input-target="filename"></span></div>
                        </div>

                        <div class="error-helper"></div>
                    </div>

                    <div class="modal-footer">
                        <div class="right">
                            <button type="submit" class="btn waves-effect waves-light">{{ 'btn.import'|trans }}</button>
                            <a data-scraping-target="modalCloseButton" class="modal-close waves-effect waves-light btn btn-cancel">{{ 'btn.cancel'|trans }}</a>
                        </div>
                    </div>
                {{ form_end(scraperImportForm) }}
            </div>
        </div>
    </div>
{% endblock %}
