<div class="tabs-block">
    <ul class="nav nav-pills">
        <li class="tab {{ current == "statistics" ? 'current' }}">
            <a href="{{ path('app_admin_index') }}">
                <span>{{ 'tab.statistics'|trans }}</span>
            </a>
        </li>
        <li class="tab {{ current == "users" ? 'current' }}">
            <a href="{{ path('app_admin_user_index') }}">
                <span>{{ 'tab.users'|trans }}</span>
            </a>
        </li>
        {% if app.environment == 'dev' %}
            <li class="tab {{ current == "trans" ? 'current' }}">
                <a href="{{ path('translation_index') }}">
                    <span>{{ 'tab.translations'|trans }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>

