{% block form_row %}
    <div class="input-field">
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_help(form) -}}
    </div>
{% endblock form_row %}


{% block file_widget %}
    {% apply spaceless %}
        <div class="row row-file">
            <div class="col s10 offset-s1 l10 offset-l1 xl6 offset-xl3">
                <div>
                    <label class="file-label">
                        {% if attr.src is defined and attr.src is not null and attr.src != '' %}
                            <img class="preview-image" src="{{ preload(asset(attr.src)) }}" />
                        {% else %}
                            <img class="preview-image" src="{{ preload(asset('../build/images/default.png')) }}" />
                        {% endif %}
                        <input type="file" {{ block('widget_attributes') }} class="has-preview hidden" accept="image/png, image/jpeg, image/jpg, image/gif, image/webp"/>
                    </label>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock file_widget %}

{% block checkbox_row %}
    {% apply spaceless %}
        <div class="input-field input-checkbox">
            <label>
                <input type="checkbox" value="{{ form.vars.value }}" {{ block('widget_attributes') }} {{ form.vars.data == true ? 'checked="checked"' }} />
                <span>{{ label|trans }}</span>
                {% if help %}
                    <span class="helper-text" data-error="wrong" data-success="right">{{ help|trans }}</span>
                {% endif %}
            </label>
        </div>
        {{- form_errors(form) -}}
    {% endapply %}
{% endblock checkbox_row %}

{% block cropper %}
    <div class="row row-file">
        <div class="col s10 offset-s1 l5 offset-l1 xl3 offset-xl3">
            <div id="cropArea"></div>
            <label class="btn">
                <span>{{ 'label.thumbnail'|trans }}</span>
                <input class="js-croppie-file-input" type="file" id="cropInput" accept="image/*">
            </label>
        </div>
        <div class="col s10 offset-s1 l5 xl3" id="cropPreview">
            <img src="{{ form.vars.value }}">
        </div>
        <input type="hidden" class="file-input" value="{{ value|default('') }}" {{ block('widget_attributes') }}/>
    </div>
    {{- form_errors(form) -}}
{% endblock cropper %}

{% block _collection_image_row %}
    {{ block('cropper') }}
{% endblock %}

{% block _wishlist_image_widget %}
    {{ block('cropper') }}
{% endblock %}

{% block _album_image_widget %}
    {{ block('cropper') }}
{% endblock %}

{% block _profile_avatar_widget %}
    {{ block('cropper') }}
{% endblock %}

{% block collection_widget %}
{% apply spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
        </div>
        {{ form_rest(form) }}
{% endapply %}
{% endblock collection_widget %}

{% block collection_item_widget %}
    {% apply spaceless %}
        <div class="col s5">
            {{ form_row(prototype.name) }}
        </div>
        <div class="col s5">
            <div class="input-field">
                {{ form_errors(prototype.type) }}
                {{ form_widget(prototype.type) }}
                {{ form_label(prototype.type) }}
            </div>
        </div>
    {% endapply %}
{% endblock %}

{% block _template_fields_entry_row %}
    {% apply spaceless %}
        {{ include('App/Field/_field_prototype.html.twig', { 'form': form }) }}
    {% endapply %}
{% endblock %}

{% block _template_fields_row %}
    {% apply spaceless %}
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
    {% endapply %}
{% endblock %}

{% block _tag_category_widget %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}{% if choices|length <= 10 %} data-minimum-results-for-search="-1"{% endif %}>
        {% set options = choices %}
        {% for choice in options %}
            <option data-color="{{ choice.data.color }}" value="{{ choice.value }}"{% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if not render_preferred_choices|default(false) and choice is selectedchoice(value) %} selected="selected"{% endif %}>
                {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
            </option>
        {% endfor %}
    </select>
{% endblock _tag_category_widget %}

{% block choice_widget_collapsed %}
    {% if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) %}
        {% set required = false %}
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}{% if choices|length <= 10 %} data-minimum-results-for-search="-1"{% endif %}>
        {% if placeholder is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {% set render_preferred_choices = true %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {% set render_preferred_choices = false %}
        {{- block('choice_widget_options') -}}
    </select>
{% endblock choice_widget_collapsed %}
