{% extends 'layout-user.html.twig' %}
{% import "App/macros.html.twig" as macros %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_user_albums', 'trans': 'menu.albums_user'}], album, null, user) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="collection-header">
            <div class="title-block">
                <div class="left">
                    <span class="thumbnail color-avatar circle avatar color-{{ album.color }}" aria-hidden="true">{{ album.title|first|upper }}</span>
                </div>
                <div class="right">
                    <h1>{{ album.title }}</h1>
                    <ul class="nav nav-pills">
                        <li>{{ 'counter.photo'|transchoice(album.photos|length) }}</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

            <div></div>

            <div class="btn-holder">
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="content-block">
            {% if album.photos is not empty %}
                <div class="block-element">
                    <h5 class="header">{{ 'title.photos'|trans }}</h5>
                    <div id="collection-items" class="grid-container-items">
                        {% for photo in album.photos %}
                            <div class="collection-item element valign-wrapper">
                                <a href="{{ preload(asset(photo.image.path)) }}" data-lightbox="image-{{ photo.id }}" data-title="
                                    {{ photo.title ~ '<br>' }}
                                    {{ photo.place ? 'label.place'|trans ~ ' : ' ~ photo.place ~ '<br>' }}
                                    {{ photo.takenAt ? 'label.taken_at'|trans ~ ' : ' ~ photo.takenAt|date("d/m/Y") ~ '<br>' }}
                                    {{ photo.comment ? 'label.comment'|trans ~ ' : ' ~ photo.comment }}
                                ">
                                    {{ macros.lazyImage(photo.image.thumbnailPath, 'aria.photo'|trans({'%title%': photo.title})) }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
