{% extends 'layout-user.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_user_collections', 'trans': 'menu.collections_user'}], null, null, user) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
            <h1>{{ 'menu.collections'|trans }}</h1>
            <ul class="nav nav-pills">
                <li>{{ 'counter.item'|transchoice(counters['totalItemsCount']) }}</li>
                <li>{{ 'counter.collection'|transchoice(counters['totalChildrenCount']) }}</li>
            </ul>
        </div>

        <div></div>

        <div class="btn-holder no-margin">
            <div class="right">
                <input id="filter-by-name-input" class="filter-input" type="text" placeholder="{{ 'filter.by_name'|trans }}" />
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="content-block">
            <div class="collections grid-container-collections">
                {% for collection in collections %}
                    {{ include('App/User/partials/collection.html.twig', {'collection': collection}) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
