{% extends 'layout-user.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_user_wishlists', 'trans': 'menu.wishlists_user'}], null, null, user) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
            <h1>{{ 'menu.wishlists'|trans }}</h1>
            <ul class="nav nav-pills">
                <li>{{ 'counter.wish'|transchoice(counters['totalWishesCount']) }}</li>
                <li>{{ 'counter.wishlist'|transchoice(counters['totalChildrenCount']) }}</li>
            </ul>
        </div>

        <div></div>

        <div class="btn-holder">
            <div class="right">
                <input id="filter-by-name-input" class="filter-input" type="text" placeholder="{{ 'filter.by_name'|trans }}" />
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="content-block">
            <div class="collections grid-container-collections">
                {{ include('App/User/partials/list-wishlists.html.twig', {'wishlists': wishlists}) }}
            </div>
        </div>
    </div>
{% endblock %}
