{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div>
            <h1>
                {{ 'global.welcome'|trans }}
                <div class='logo' aria-label="Logo"></div>
            </h1>

            <div class="content">
                <div class="body">
                    {{ form_start(form) }}
                    {{ include('App/Security/_locales_dropdown.html.twig') }}
                    <h2 class="header">{{ 'title.first_connection.user'|trans }}</h2>
                    {{ form_errors(form) }}
                    {{ form_row(form.username, {'label' : 'label.username'} ) }}
                    {{ form_row(form.email, {'label' : 'label.email'} ) }}
                    {{ form_row(form.plainPassword.first, {'label': 'label.password'}) }}
                    {{ form_row(form.plainPassword.second, {'label': 'label.repeat_password'}) }}
                    {{ form_row(form.timezone, {'label': 'label.timezone', 'attr': {'data-controller': 'select--default'}}) }}
                    {{ form_row(form.dateFormat, {'label': 'label.date_format', 'attr': {'data-controller': 'select--default'}}) }}
                    <div class="submit">
                        <button type="submit"
                                class="btn waves-effect waves-light btn-lg btn-success btn-block right">{{ 'btn.submit'|trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        // Selects the user's timezone, as indicated by the browser
        if (typeof Intl !== 'undefined') {
            const timezoneSelect = document.getElementById('user_timezone');
            timezoneSelect.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
            timezoneSelect.dispatchEvent(new Event('change'));
        }
    </script>
{% endblock %}
