{% extends 'base.html.twig' %}

{% form_theme form 'App/_partials/form-fields.html.twig' %}

{% block body %}
    <div class="box">
        <div>
            <h1>
                Welcome to Koillection
                <div class='logo' aria-label="Logo"></div>
            </h1>

            <div class="content">
                {{ include('App/Security/_partials/locales-dropdown.html.twig') }}

                {{ form_start(form) }}
                    <h5 class="header">{{ 'title.first_connection.user'|trans }}</h5>
                    {{ form_errors(form) }}
                    {{ form_row(form.username, {'label' : 'label.username'} ) }}
                    {{ form_row(form.email, {'label' : 'label.email'} ) }}
                    {{ form_row(form.plainPassword.first, {'label': 'label.password'}) }}
                    {{ form_row(form.plainPassword.second, {'label': 'label.repeat_password'}) }}
                    {{ form_row(form.timezone, {'label': 'label.timezone'}) }}
                    {{ form_row(form.dateFormat, {'label': 'label.date_format'}) }}
                    <div class="submit">
                        <button type="submit" class="btn btn-lg btn-success btn-block right">{{ 'btn.submit'|trans }}</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
