{% extends 'layout-unautorized.html.twig' %}

{% block content %}
    <div class="homepage front">
        <div class="row title-wrapper">
            <h1>{{ 'front.title'|trans }}</h1>
        </div>
        <div class="row flex">
            <div class="col s10 offset-s1 m10 offset-m1 l4 offset-l1">
                <h4>{{ 'front.subtitle'|trans }}</h4>
                <ul class="front-list-container">
                    <li data-for="collections" class="active">
                        <span><i class="fa fa-archive fa-fw"></i>{{ 'front.element.collections'|trans }}</span>
                    </li>
                    <li data-for="items">
                        <span><i class="fa fa-cubes fa-fw"></i>{{ 'front.element.items'|trans }}</span>
                    </li>
                    <li data-for="signs">
                        <span><i class="fa fa-leaf fa-fw"></i>{{ 'front.element.signs'|trans }}</span>
                    </li>
                    <li data-for="tags">
                        <span><i class="fa fa-tags fa-fw"></i>{{ 'front.element.tags'|trans }}</span>
                    </li>
                    <li data-for="wishlists">
                        <span><i class="fa fa-heart fa-fw"></i>{{ 'front.element.wishlists'|trans }}</span>
                    </li>
                </ul>
            </div>
            <div class="front-images-container col s10 offset-s1 m10 offset-m1 l6">
                <img data-name="collections" src="{{ preload(asset('../build/images/front/collection.png')) }}" class="z-depth-3">
                <img data-name="items" src="{{ preload(asset('../build/images/front/item.png')) }}" class="hidden z-depth-3">
                <img data-name="signs" src="{{ preload(asset('../build/images/front/signs.png')) }}" class="hidden z-depth-3">
                <img data-name="tags" src="{{ preload(asset('../build/images/front/tag.png')) }}" class="hidden z-depth-3">
                <img data-name="wishlists" src="{{ preload(asset('../build/images/front/wishlist.png')) }}" class="hidden z-depth-3">
            </div>
        </div>
    </div>
{% endblock %}
