{% extends 'layout.html.twig' %}
{% form_theme form 'Form/fields.html.twig' %}

{% set breadcrumb = buildBreadcrumb([
    {'route': 'app_tools_index', 'trans': 'menu.tools'},
    {'route': 'app_tools_index', 'trans': 'menu.inventories'},
], null, 'breadcrumb.add_inventory') %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% macro recursiveCollection(collection) %}
    {% import _self as self %}
    <li>
        <p>
            <label>
                <input type="checkbox" data-id="{{ collection.id }}">
                <span>{{ collection.title }}</span>
            </label>
        </p>
        {% if collection.children|length %}
            <ul class="inventory-collection">
                {% for child in collection.children %}
                    {{ self.recursiveCollection(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% from _self import recursiveCollection %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'title.add_inventory'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form) }}
            <div class="block-element">
                <div class="row">
                    <h5 class="header">{{ 'title.infos'|trans }}</h5>
                    <div class="col s10 offset-s1 m5 offset-m1">
                        {{ form_row(form.name, {'label' : 'label.name'}) }}
                    </div>
                </div>
                <div class="row">
                    <h5 class="header">{{ 'title.collections'|trans }}</h5>
                    <div class="col s10 offset-s1 m5 offset-m1">
                        <ul class="inventory-collection">
                            <li>
                                <p>
                                    <label>
                                        <input type="checkbox" data-id="all">
                                        <span>{{ 'global.all_collections'|trans }}</span>
                                    </label>
                                </p>

                                {% for collection in collections if collection.parent == null %}
                                    <ul class="inventory-collection">
                                        {{ recursiveCollection(collection) }}
                                    </ul>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-btn-holder">
                <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
                <a href="{{ path('app_tools_index') }}" class="waves-effect waves-light btn red darken-1">{{ 'btn.cancel'|trans }}</a>
            </div>
            <div class="clearfix"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
