{% extends 'layout.html.twig' %}
{% form_theme form 'Form/fields.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], item, 'breadcrumb.lend_item') %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
              <h1>{{ 'title.loan_item'|trans({'%item%': item.name}) }}</h1>
        </div>

        <div class="content-block">
            {{ form_start(form) }}
                <div class="block-element">
                    <div class="row">
                        <div class="col s5 offset-s1">
                            {{ form_row(form.lentAt, {'label' : 'label.loaned_at', 'attr': {'class' : 'datepicker' }} ) }}
                        </div>
                        <div class="col s5">
                            {{ form_row(form.lentTo, {'label' : 'label.loaned_to'} ) }}
                        </div>
                    </div>
                </div>

                <div class="form-btn-holder">
                    {{ form_row(form.submit, {'label': 'btn.submit', 'attr': {'class': 'btn waves-effect waves-light'}}) }}
                    <a href="{{ path('app_item_show', { id : item.id }) }}" class="waves-effect waves-light btn red darken-1">{{ 'btn.cancel'|trans }}</a>
                </div>
                <div class="clearfix"></div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
