{% block cropper %}
    <div class="row row-file" data-controller="croppie">
        <div class="s12 l5 offset-l1 xl4 offset-xl2">
            <div data-croppie-target="area"
                 data-action="mouseup->croppie#refreshImage mousewheel->croppie#refreshImage"></div>
            <label class="btn waves-effect waves-light">
                {{ 'label.thumbnail'|trans }}
                <input class="js-croppie-file-input crop-input"
                       type="file"
                       accept="image/png, image/jpeg, image/webp, image/avif"
                       data-croppie-target="input"
                       data-action="change->croppie#loadImage"
                >
            </label>
            {% if form.vars.value %}
                <button type="button"
                        class="btn waves-effect waves-light btn-cancel"
                        data-croppie-target="cancelBtn"
                        data-action="click->croppie#cancel"
                        title="{{ 'tooltip.cancel_modifications'|trans }}"
                >
                    {{ 'btn.cancel'|trans }}
                </button>
            {% endif %}
            <button type="button"
                    class="btn waves-effect waves-light btn-cancel"
                    data-croppie-target="removeBtn"
                    data-action="click->croppie#remove click->thumbnail#remove"
                    title="{{ 'tooltip.remove_thumbnail'|trans }}"
            >
                <i class="fa fa-trash fa-fw"></i>
            </button>
        </div>
        <div class="s12 l5 xl4 croppie-preview">
            <span data-base64="{{ asset('build/images/default-round.png')|base64Encode }}" data-croppie-target="emptyPreview"></span>
            <span data-base64="{{ form.vars.value }}" data-croppie-target="originalPreview"></span>

            <img src="{{ form.vars.value|default(preload(asset('build/images/default-round.png'), {as: 'image'})) }}" data-croppie-target="currentPreview">
        </div>
        <input type="hidden" class="file-input" value="{{ value|default('') }}" {{ block('widget_attributes') }}/>

        {% if form.parent.deleteImage is defined %}
            <span class="visibility-none">{{ form_row(form.parent.deleteImage, {'attr': {'data-croppie-target': 'deleteCheckbox'}}) }}</span>
        {% endif %}

        {% if form.parent.deleteAvatar is defined %}
            <span class="visibility-none">{{ form_row(form.parent.deleteAvatar, {'attr': {'data-croppie-target': 'deleteCheckbox'}}) }}</span>
        {% endif %}
    </div>
    {%- for error in errors -%}
        <div class="helper-text helper-text-error error-helper" data-error="wrong">{{ error.message }}</div>
    {%- endfor -%}
{% endblock cropper %}

{% block _collection_file_row %}
    {{ block('cropper') }}
{% endblock %}

{% block _wishlist_file_widget %}
    {{ block('cropper') }}
{% endblock %}

{% block _album_file_widget %}
    {{ block('cropper') }}
{% endblock %}

{% block _profile_file_widget %}
    {{ block('cropper') }}
{% endblock %}