{% block cropper %}
    <div class="row row-file" data-controller="croppie">
        <div class="col s12 l5 offset-l1 xl4 offset-xl2">
            <div data-croppie-target="area"
                 data-action="mouseup->croppie#refreshImage mousewheel->croppie#refreshImage"></div>
            <label class="btn waves-effect waves-light">
                {{ 'label.thumbnail'|trans }}
                <input class="js-croppie-file-input crop-input"
                       type="file"
                       accept="image/png, image/jpeg, image/webp, image/avif"
                       data-croppie-target="input"
                       data-action="change->croppie#loadImage"
                >
            </label>
        </div>
        <div class="col s12 l5 xl4 croppie-preview" data-croppie-target="preview">
            <img src="{{ form.vars.value|default(preload(asset('build/images/default-round.png'), {as: 'image'})) }}">
        </div>
        <input type="hidden" class="file-input" value="{{ value|default('') }}" {{ block('widget_attributes') }}/>
    </div>
    {{- form_errors(form) -}}
{% endblock cropper %}

{% block _collection_file_row %}
    {{ block('cropper') }}
{% endblock %}

{% block _wishlist_file_widget %}
    {{ block('cropper') }}
{% endblock %}

{% block _album_file_widget %}
    {{ block('cropper') }}
{% endblock %}

{% block _profile_file_widget %}
    {{ block('cropper') }}
{% endblock %}