{% block scraping_scraper %}
    <select {{ block('widget_attributes') }}{% if choices|length <= 10 %} data-minimum-results-for-search="-1"{% endif %}>
        {% set options = choices %}
        <option value="" {% if not render_preferred_choices|default(false) and value == '' %} selected="selected"{% endif %}>
        </option>
        {% for choice in options %}
            <option data-url-pattern="{{ choice.data.urlPattern }}"
                    value="{{ choice.value }}"{% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if not render_preferred_choices|default(false) and choice is selectedchoice(value) %} selected="selected"{% endif %}>
                {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
            </option>
        {% endfor %}
    </select>
{% endblock scraping_scraper %}

{% block _scraping_item_scraper_widget %}
    {{ block('scraping_scraper') }}
{% endblock _scraping_item_scraper_widget %}

{% block _scraping_collection_scraper_widget %}
    {{ block('scraping_scraper') }}
{% endblock _scraping_collection_scraper_widget %}

{% block _scraping_item_dataToScrap_row %}
    {% apply spaceless %}
        {% for child in form %}
            <div class="s12 l5 xl3">
                {{ form_row(child) }}
            </div>
        {% endfor %}
    {% endapply %}
{% endblock _scraping_item_dataToScrap_row %}

{% block _scraping_collection_dataToScrap_row %}
    {% apply spaceless %}
        {% for child in form %}
            <div class="s12 l5 xl3">
                {{ form_row(child) }}
            </div>
        {% endfor %}
    {% endapply %}
{% endblock _scraping_collection_dataToScrap_row %}