<table class="highlight items-table">
    <thead>
        <tr>
            <th></th>
            <th>{{ 'label.name'|trans }}</th>
            {% if context == 'default' %}
                <th class="center">{{ 'label.visibility'|trans }}</th>
                <th class="center">{{ 'label.actions'|trans }}</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for collection in collections|naturalSorting %}
            {% set link = path('app_collection_show'|applyContext, {'id': collection.id}) %}
            <tr class="list-element resize-element" data-title="{{ collection.title }}" data-filter-target="element">
                <td>
                    <a class="table-link" href="{{ link }}"></a>
                    {% if collection.image %}
                        <div class="image-wrapper placeholder placeholder--circle" data-controller="lazy-loading">
                            <img data-src="{{ asset(collection.image) }}"
                                 data-lazy-loading-target="image"
                            >
                        </div>
                    {% endif %}
                </td>
                <td>
                    <a class="table-link" href="{{ link }}"></a>
                    {{ collection.title|u.truncate(50, '...') }}
                </td>
                {% if context == 'default' %}
                    <td class="center">
                        {% include 'App/_partials/_visibility.html.twig' with {'visibility': collection.finalVisibility} only %}
                    </td>

                    <td class="table-actions center">
                        <a href="{{ path('app_collection_edit', {id: collection.id}) }}" title="{{ 'tooltip.edit'|trans }}">
                            <i class="fa fa-pencil fa-fw"></i>
                        </a>
                        {% include 'App/_partials/_icon/_delete.html.twig' with {
                            path: path('app_collection_delete', {id: collection.id}),
                            message: 'message.delete.collection'
                        } only %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>