<table class="highlight items-table">
    <thead>
        <tr>
            <th></th>
            <th>{{ 'label.name'|trans }}</th>
            {% for column in collection.childrenDisplayConfiguration.columns %}
                <th class="center hide-on-small-and-down">{{ column }}</th>
            {% endfor %}
            {% if context == 'default' %}
                {% if collection.childrenDisplayConfiguration.showNumberOfChildren %}
                    <th class="center">{{ 'label.collections'|trans }}</th>
                {% endif %}
                {% if collection.childrenDisplayConfiguration.showNumberOfItems %}
                    <th class="center">{{ 'label.items'|trans }}</th>
                {% endif %}
                {% if collection.childrenDisplayConfiguration.showVisibility %}
                    <th class="center">{{ 'label.visibility'|trans }}</th>
                {% endif %}
                {% if collection.childrenDisplayConfiguration.showActions %}
                    <th class="center">{{ 'label.actions'|trans }}</th>
                {% endif %}
            {% endif %}
        </tr>
    </thead>

    <tbody>
    {% for child in collections|naturalSorting(collection.childrenDisplayConfiguration.sortingDirection|default(null), collection.childrenDisplayConfiguration.sortingType|default(null)) %}
            {% set link = path('app_collection_show'|applyContext, {'id': child.id}) %}
            <tr class="list-element resize-element" data-title="{{ child.title }}" data-filter-target="element">
                <td>
                    <a class="table-link" href="{{ link }}"></a>
                    {% if child.image %}
                        <div class="image-wrapper placeholder placeholder--circle" data-controller="lazy-loading">
                            <img data-src="{{ asset(child.image) }}"
                                 data-lazy-loading-target="image"
                            >
                        </div>
                    {% endif %}
                </td>
                <td>
                    <a class="table-link" href="{{ link }}"></a>
                    {{ child.title|u.truncate(50, '...') }}
                </td>
                {% for column in collection.childrenDisplayConfiguration.columns %}
                    <td class="center hide-on-small-and-down">
                        {% set datum = child.getDatumByLabel(column) %}

                        {% if datum is not null %}
                            {% if datum.type != 'link' %}
                                <a class="table-link" href="{{ link }}"></a>
                            {% endif %}

                            {% include 'App/Datum/_display_value/_' ~ datum.type ~ '.html.twig' with {'datum': datum} only %}
                        {% else %}
                            <a class="table-link" href="{{ link }}"></a>
                            -
                        {% endif %}
                    </td>
                {% endfor %}
                {% if context == 'default' %}
                    {% if collection.childrenDisplayConfiguration.showNumberOfChildren %}
                        <td class="center">
                            <a class="table-link" href="{{ link }}"></a>
                            {{ getCounters(child).children }}
                        </td>
                    {% endif %}

                    {% if collection.childrenDisplayConfiguration.showNumberOfItems %}
                        <td class="center">
                            <a class="table-link" href="{{ link }}"></a>
                            {{ getCounters(child).items }}
                        </td>
                    {% endif %}

                    {% if collection.childrenDisplayConfiguration.showVisibility %}
                        <td class="center">
                            {% include 'App/_partials/_visibility.html.twig' with {'visibility': child.finalVisibility} only %}
                        </td>
                    {% endif %}

                    {% if collection.childrenDisplayConfiguration.showActions %}
                        <td class="table-actions center">
                            <a href="{{ path('app_collection_edit', {id: child.id}) }}" title="{{ 'tooltip.edit'|trans }}">
                                <i class="fa fa-pencil fa-fw"></i>
                            </a>
                            {% include 'App/_partials/_icon/_delete.html.twig' with {
                                path: path('app_collection_delete', {id: child.id}),
                                message: 'message.delete.collection'
                            } only %}
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>