{{ form_start(form) }}
    {% do form.data.setRendered %}
<div class="content-block">
    {{ form_row(form.file) }}
    <div class="row">
        <div class="col s12 l5 offset-l1 xl3 offset-xl3">
            {{ form_row(form.title, {'label' : 'label.title'} ) }}
        </div>
        <div class="col s12 l5 xl3">
            {{ form_row(form.parent, {'label' : 'label.parent', 'attr': {'data-controller': 'select--default'}} ) }}
        </div>
    </div>

    <div class="row">
        <div class="col s12 l5 offset-l1 xl3 offset-xl3">
            {{ form_row(form.visibility, {'label' : 'label.visibility', 'attr': {'data-controller': 'select--visibility'}} ) }}
        </div>
    </div>

    <h3 class="header col s12">{{ 'collection.items_settings'|trans }}</h3>

    <div class="row">
        <div class="col s12 l5 offset-l1 xl3 offset-xl3">
            {{ form_row(form.itemsTitle, {'label' : 'label.items_title', 'suggestions': suggestedItemsTitles|default} ) }}
        </div>
        <div class="col s12 l5 xl3">
            {{ form_row(form.itemsDefaultTemplate, {'label' : 'label.items_default_template', 'attr': {'data-controller': 'select--default'}} ) }}
        </div>
    </div>

    <div class="row">
        <div class="col s12 l5 offset-l1 xl3 offset-xl3">
            {{ form_row(form.itemsSortingProperty, {'label' : 'label.items_sorting_property', 'attr': {'data-controller': 'select--default'}} ) }}
        </div>
        <div class="col s12 l5 xl3">
            {{ form_row(form.itemsSortingDirection, {'label' : 'label.items_sorting_direction', 'attr': {'data-controller': 'select--default'}} ) }}
        </div>
    </div>

    <div data-controller="list-properties">
        <div class="row">
            <div class="col s12 l5 offset-l1 xl3 offset-xl3">
                {{ form_row(form.itemsDisplayMode, {'label' : 'label.items_display_mode', 'attr': {
                    'data-controller': 'select--display-mode',
                    'data-action': 'change->list-properties#displayProperties'
                }} ) }}
            </div>
            <div class="col s12 l5 xl3 {% if collection.itemsDisplayMode != 'list' %}hidden{% endif %}"
                 data-controller="columns-list"
                 data-list-properties-target="property"
            >
                <div>{{ form_label(form.itemsListColumns, 'label.items_list_columns') }}</div>

                <div>
                    <div data-columns-list-target="checkedHolder">
                        {% for child in form.itemsListColumns.children|filter(child => child.vars.data == true) %}
                            {{ form_row(child) }}
                        {% endfor %}
                    </div>
                    <div data-columns-list-target="uncheckedHolder">
                        {% for child in form.itemsListColumns.children|filter(child => child.vars.data == false) %}
                            {{ form_row(child) }}
                        {% endfor %}
                    </div>
                </div>
                {% do form.itemsListColumns.setRendered %}
            </div>
        </div>

        <div class="row">
            <div class="col s12 l5 offset-l1 xl3 offset-xl3 {% if collection.itemsDisplayMode != 'list' %}hidden{% endif %}"
                 data-list-properties-target="property"
            >
                {{ form_row(form.itemsListShowVisibility, {'label' : 'label.items_list_show_visibility'}) }}
            </div>
            <div class="col s12 l5 xl3 {% if collection.itemsDisplayMode != 'list' %}hidden{% endif %}"
                 data-list-properties-target="property"
            >
                {{ form_row(form.itemsListShowActions, {'label' : 'label.items_list_show_actions'}) }}
            </div>
        </div>
    </div>

    <h3 class="header col s12">{{ 'collection.children_settings'|trans }}</h3>

    <div class="row">
        <div class="col s12 l5 offset-l1 xl3 offset-xl3">
            {{ form_row(form.childrenTitle, {'label' : 'label.children_title', 'suggestions': suggestedChildrenTitles|default}) }}
        </div>
        <div class="col s12 l5 xl3">
            {{ form_row(form.childrenDisplayMode, {'label' : 'label.sub_collections_display_mode', 'attr': {
                'data-controller': 'select--display-mode',
            }} ) }}
        </div>
    </div>

    <div class="row" data-controller="additional-data" data-entity="collection">
        <h3 class="header col s12">{{ 'title.data'|trans }}</h3>

        <div class="row">
            <div class="col s12 l5 offset-l1 xl3 offset-xl3">
                {% if isFeatureEnabled('templates') %}
                    {{ form_row(form.template, {'label' : 'label.apply_template', 'attr' : {
                        'data-controller': 'select--default',
                        'data-action': 'change->additional-data#loadTemplateFields'
                    }}) }}
                {% endif %}
            </div>
            {{ include('App/Collection/_form_data_block.html.twig', {data: collection.data}) }}
        </div>
    </div>
</div>

<div class="row center-align form-btn-holder">
    {% if app.request.get('_route') == 'app_collection_add' %}
        {% if app.request.query.has('parent') %}
            {% set cancelUrl = path('app_collection_show', {id: app.request.query.get('parent')}) %}
        {% else %}
            {% set cancelUrl = path('app_collection_index') %}
        {% endif %}
    {% else %}
        {% set cancelUrl = path('app_collection_show', {id: collection.id}) %}
    {% endif %}

    <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
    <a href="{{ cancelUrl }}" class="waves-effect btn-cancel waves-light btn"> {{ 'btn.cancel'|trans }}</a>
</div>
{{ form_end(form) }}