<div id="additionnalFields">
    <div id="data" class="data-holder block-element">
        <div class="row">
            <h6 class="header col s12">{{ 'title.data'|trans }}</h6>
        </div>

        {% for key, datum in data|filter(datum => datum.type in ([constant('App\\Enum\\DatumTypeEnum::TYPE_TEXT'), constant('App\\Enum\\DatumTypeEnum::TYPE_COUNTRY')])) %}
            {{ include('App/Datum/_datum.html.twig', {datum: datum, iteration: key, type: datum.type, entity: 'collection'}) }}
        {% endfor %}
    </div>

    <div class="row center-align">
        <label>{{ 'label.add_field'|trans }}</label>
        <a class="waves-effect waves-light btn-small js-add-field-btn grey" data-type="text">{{ 'btn.add_text'|trans }}</a>
        <a class="waves-effect waves-light btn-small js-add-field-btn grey" data-type="country">{{ 'btn.add_country'|trans }}</a>
    </div>
</div>