<div id="additionnalFields">
    <div id="data" class="row data-holder block-element">
        <div data-additional-data-target="textsHolder">
            {% for key, datum in data|filter(datum => datum.type in ([constant('App\\Enum\\DatumTypeEnum::TYPE_TEXT'), constant('App\\Enum\\DatumTypeEnum::TYPE_COUNTRY'), constant('App\\Enum\\DatumTypeEnum::TYPE_FILE'), constant('App\\Enum\\DatumTypeEnum::TYPE_DATE'), constant('App\\Enum\\DatumTypeEnum::TYPE_NUMBER')])) %}
                {{ include('App/Datum/_datum.html.twig', {
                    datum: datum,
                    iteration: key,
                    type: datum.type,
                    entity: 'collection',
                    label: datum.label
                }) }}
            {% endfor %}
        </div>
    </div>

    <div class="row center-align">
        <label>{{ 'label.add_field'|trans }}</label>
        <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey" data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_TEXT') }}">{{ 'btn.add_text'|trans }}</a>
        <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey" data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_NUMBER') }}">{{ 'btn.add_number'|trans }}</a>
        <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey" data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_COUNTRY') }}">{{ 'btn.add_country'|trans }}</a>
        <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey" data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_DATE') }}">{{ 'btn.add_date'|trans }}</a>
        <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey" data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_FILE') }}">{{ 'btn.add_file'|trans }}</a>
    </div>
</div>