<div class="data-holder block-element">
    <div class="row"></div>

    <div class="error-helper">
        {{ form_errors(form) }}
    </div>

    <div data-additional-data-target="textsHolder">
        {% for key, datum in data %}
            {% include 'App/Datum/_datum.html.twig' with {
                datum: datum,
                iteration: key,
                type: datum.type,
                entity: 'collection',
                label: datum.label,
                choiceList: datum.choiceList,
                visibility: datum.visibility
            } only %}
        {% endfor %}
    </div>
</div>

<div class="center-align datum-btn">
    <label>{{ 'label.add_field'|trans }}</label>
    <a id="btn-add-field-text" data-action="additional-data#add" class="waves-effect waves-light btn-small grey"
       data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_TEXT') }}">{{ 'btn.add_text'|trans }}</a>
    <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey"
       data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_NUMBER') }}">{{ 'btn.add_number'|trans }}</a>
    <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey"
       data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_COUNTRY') }}">{{ 'btn.add_country'|trans }}</a>
    <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey"
       data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_DATE') }}">{{ 'btn.add_date'|trans }}</a>
    <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey"
       data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_FILE') }}">{{ 'btn.add_file'|trans }}</a>
    <a data-action="additional-data#add" class="waves-effect waves-light btn-small grey"
       data-type="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_CHECKBOX') }}">{{ 'btn.add_checkbox'|trans }}</a>
</div>

{% if choiceLists is defined and choiceLists is not empty %}
    <div class="center-align datum-btn">
        <label>{{ 'label.add_choice_list'|trans }}</label>
        {% for choiceList in choiceLists %}
            <a data-action="additional-data#addChoiceList" class="waves-effect waves-light btn-small grey"
               data-id="{{ choiceList.id }}">{{ choiceList.name }}</a>
        {% endfor %}
    </div>
{% endif %}
