<div id="collection-items" class="grid-container-items">
    {% for item in items|naturalSorting %}
        <div class="collection-item element valign-wrapper" data-title="{{ item.name }}" data-filter-target="element">
            <a href="{{ tag is defined ? path('app_tag_item_show'|applyContext, {'tagId': tag.id, 'itemId': item.id}) : path('app_item_show'|applyContext, {'id': item.id}) }}">
                <div class="image-wrapper placeholder" {{ stimulus_controller('lazy-loading') }}>
                    <img data-src="{{ asset(item.imageSmallThumbnail|default('build/images/default.png')) }}"
                         data-lazy-loading-target="image"
                         aria-label="{{ 'aria.item'|trans({'%name%': item.name}) }}"
                    >
                </div>
            </a>
        </div>
    {% endfor %}
</div>