<div id="collection-items" class="grid-container-items">
    {% for item in items|naturalSorting(displayConfiguration) %}
        <div data-filter-target="element" data-title="{{ item.name }}">
            <div class="collection-item element valign-wrapper">
                <a href="{{ path('app_item_show'|applyContext, {'id': item.id}) }}">
                    <img src="{{ asset(item.imageSmallThumbnail|default('build/images/default.png')) }}" loading="lazy" title="{{item.name}}">
                    {% if displayConfiguration.showItemQuantities and item.quantity > 1 %}
                        <span class="tag chip">x{{ item.quantity }}</span>
                    {% endif %}
                </a>
            </div>

            {% if app.user.displayItemsNameInGridView|default(false) == true %}
                <span class="item-name">{{ item.name }}</span>
            {% endif %}
        </div>
    {% endfor %}
</div>