{% set sortingProperty = displayConfiguration.sortingProperty %}
{% set sortingDirection = displayConfiguration.sortingDirection %}

<table class="highlight items-table" data-controller="table">
    <thead>
        <tr>
            <th></th>
            <th>
                {{ 'label.name'|trans }}
                <span>
                    <i class="fa fa-long-arrow-up {{ sortingProperty is null and sortingDirection == 'ASC' ? 'active' }}" data-column="name" data-direction="asc" data-action="click->table#sort" data-table-target="sorter"></i>
                    <i class="fa fa-long-arrow-down {{ sortingProperty is null and sortingDirection == 'DESC' ? 'active' }}" data-column="name" data-direction="desc" data-action="click->table#sort" data-table-target="sorter"></i>
                </span>
            </th>
            {% for column in displayConfiguration.columns %}
                <th class="center hide-on-small-and-down">
                    {{ column }}
                    <span>
                        <i class="fa fa-long-arrow-up {{ sortingProperty == column and sortingDirection == 'ASC' ? 'active' }}" data-column="{{ column }}" data-direction="asc" data-action="click->table#sort" data-table-target="sorter"></i>
                        <i class="fa fa-long-arrow-down {{ sortingProperty == column and sortingDirection == 'DESC' ? 'active' }}" data-column="{{ column }}" data-direction="desc" data-action="click->table#sort" data-table-target="sorter"></i>
                    </span>
                </th>
            {% endfor %}
            {% if context == 'default' %}
                {% if displayConfiguration.showVisibility %}
                    <th class="center">{{ 'label.visibility'|trans }}</th>
                {% endif %}
                {% if displayConfiguration.showActions %}
                    <th class="center">{{ 'label.actions'|trans }}</th>
                {% endif %}
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for item in items|naturalSorting(displayConfiguration) %}
            {% set link = path('app_item_show'|applyContext, {'id': item.id}) %}
            <tr class="list-element resize-element" data-title="{{ item.name }}" data-filter-target="element">
                <td>
                    <a class="table-link" href="{{ link }}"></a>
                    {% if item.imageSmallThumbnail %}
                        <img src="{{ asset(item.imageSmallThumbnail) }}" loading="lazy">
                    {% endif %}
                </td>
                <td data-column="name">
                    <span data-value="{{ item.name }}">
                    <a class="table-link" href="{{ link }}"></a>
                    {{ item.name|u.truncate(50, '...') }}
                </td>
                {% for column in displayConfiguration.columns %}
                    {% set datum = item.getDatumByLabel(column) %}

                    <td class="center hide-on-small-and-down" data-column="{{ column }}">
                        {% if datum is not null %}
                            {% if datum.type != 'link' %}
                                <a class="table-link" href="{{ link }}"></a>
                            {% endif %}

                            {% include 'App/Datum/_display_value/_' ~ datum.type ~ '.html.twig' with {'datum': datum} only %}
                        {% else %}
                            <span data-value="">
                            <a class="table-link" href="{{ link }}"></a>
                            -
                        {% endif %}
                    </td>
                {% endfor %}
                {% if context == 'default' %}
                    {% if displayConfiguration.showVisibility %}
                        <td class="center">
                            {% include 'App/_partials/_visibility.html.twig' with {'visibility': item.finalVisibility} only %}
                        </td>
                    {% endif %}
                    {% if displayConfiguration.showActions %}
                        <td class="table-actions center">
                            <a href="{{ path('app_item_edit', {id: item.id}) }}" title="{{ 'tooltip.edit'|trans }}">
                                <i class="fa fa-pencil fa-fw"></i>
                            </a>
                            {% include 'App/_partials/_icon/_delete.html.twig' with {
                                path: path('app_item_delete', {id: item.id}),
                                message: 'message.delete.item'
                            } only %}
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>