<table class="highlight items-table">
    <thead>
        <tr>
            <th></th>
            <th>{{ 'label.name'|trans }}</th>
            {% for column in displayConfiguration.columns %}
                <th class="center hide-on-small-and-down">{{ column }}</th>
            {% endfor %}
            {% if context == 'default' %}
                {% if displayConfiguration.showVisibility %}
                    <th class="center">{{ 'label.visibility'|trans }}</th>
                {% endif %}
                {% if displayConfiguration.showActions %}
                    <th class="center">{{ 'label.actions'|trans }}</th>
                {% endif %}
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for item in items|naturalSorting(displayConfiguration.sortingDirection|default(null), displayConfiguration.sortingType|default(null)) %}
            {% set link = path('app_item_show'|applyContext, {'id': item.id}) %}
            <tr class="list-element resize-element" data-title="{{ item.name }}" data-filter-target="element">
                <td>
                    <a class="table-link" href="{{ link }}"></a>
                    {% if item.imageSmallThumbnail %}
                        <div class="image-wrapper placeholder" data-controller="lazy-loading">
                            <img data-src="{{ asset(item.imageSmallThumbnail) }}"
                                 data-lazy-loading-target="image"
                            >
                        </div>
                    {% endif %}
                </td>
                <td>
                    <a class="table-link" href="{{ link }}"></a>
                    {{ item.name|u.truncate(50, '...') }}
                </td>
                {% for column in displayConfiguration.columns %}
                    <td class="center hide-on-small-and-down">
                        {% set datum = item.getDatumByLabel(column) %}

                        {% if datum is not null %}
                            {% if datum.type != 'link' %}
                                <a class="table-link" href="{{ link }}"></a>
                            {% endif %}

                            {% include 'App/Datum/_display_value/_' ~ datum.type ~ '.html.twig' with {'datum': datum} only %}
                        {% else %}
                            <a class="table-link" href="{{ link }}"></a>
                            -
                        {% endif %}
                    </td>
                {% endfor %}
                {% if context == 'default' %}
                    {% if displayConfiguration.showVisibility %}
                        <td class="center">
                            {% include 'App/_partials/_visibility.html.twig' with {'visibility': item.finalVisibility} only %}
                        </td>
                    {% endif %}
                    {% if displayConfiguration.showActions %}
                        <td class="table-actions center">
                            <a href="{{ path('app_item_edit', {id: item.id}) }}" title="{{ 'tooltip.edit'|trans }}">
                                <i class="fa fa-pencil fa-fw"></i>
                            </a>
                            {% include 'App/_partials/_icon/_delete.html.twig' with {
                                path: path('app_item_delete', {id: item.id}),
                                message: 'message.delete.item'
                            } only %}
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>