{% extends 'layout.html.twig' %}
{% form_theme form 'Form/fields.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], collection, 'breadcrumb.batch_tagging') %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
              <h1>{{ 'title.tag_collection'|trans({'%collection%': collection.title}) }}</h1>
        </div>

        <div class="content-block">
            {{ form_start(form) }}
                <div class ="row">
                    <div class="col offset-s1 s6">
                        {{ form_label(form.tags, 'label.tags') }}
                        <div class="autocomplete" id="multiple">
                            <div class="ac-input">
                                <input type="text" id="tagsAutocomplete" data-target="tagsDropdown" data-beloworigin="true" autocomplete="off">
                            </div>
                            <div class="ac-tags">
                            </div>
                            <ul id="tagsDropdown" class="dropdown-content ac-dropdown"></ul>
                        </div>
                        {{ form_widget(form.tags, {'label' : 'label.tags', 'attr': {'class' : 'hidden tags-holder'}}) }}
                    </div>
                    <div class="col offset-s1 s3">
                        {{ form_row(form.recursive, {'label' : 'label.recursive'} ) }}
                        <div class="additional-message">{{'message.recursive'|trans}}</div>
                    </div>
                </div>

                <div class="form-btn-holder">
                    {{ form_row(form.submit, {'label': 'btn.submit', 'attr': {'class': 'btn waves-effect waves-light'}}) }}
                    <a href="{{ path('app_collection_show', {'id' : collection.id}) }}" class="waves-effect waves-light btn red darken-1">{{ 'btn.cancel'|trans }}</a>
                </div>
                <div class="clearfix"></div>
    		{{ form_end(form) }}
        </div>
    </div>
{% endblock %}
