{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], collection, 'breadcrumb.batch_tagging') %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="title-block">
          <h1>{{ 'title.tag_collection'|trans({'%collection%': collection.title}) }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form) }}
            <div class="row block-element">
                <div class="row">
                    <div class="col s12 l5 offset-l1 xl3 offset-xl3" data-controller="autocompleteTag">
                        <div class="input-field">
                            <input type="text" data-autocompleteTag-target="input" data-action="keyup->autocompleteTag#autocomplete" autocomplete="off">
                            {{ form_label(form.tags, 'label.tags') }}
                            <div data-autocompleteTag-target="result" class="ac-tags"></div>
                        </div>
                        {{ form_widget(form.tags, {'label' : 'label.tags', 'attr': {'autocomplete': 'off', 'class' : 'hidden', 'data-autocompleteTag-target': 'formInput'}}) }}
                    </div>
                    <div class="col s12 l5 xl3">
                        {{ form_row(form.recursive, {'label': 'label.recursive', 'help': 'message.recursive'}) }}
                    </div>
                </div>

                <div class="row center-align form-btn-holder">
                    <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
                    <a href="{{ path('app_collection_show', {'id' : collection.id}) }}" class="waves-effect waves-light btn btn-cancel">{{ 'btn.cancel'|trans }}</a>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
