{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], null, 'breadcrumb.edit_collections_index') %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'title.edit_collections_index'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form) }}
            <div class="content-block">
                <div class="row">
                    <div class="col s12 l5 offset-l1 xl4 offset-xl2">
                        {{ form_row(form.sortingProperty, {'label' : 'label.items_sorting_property', 'attr': {'data-controller': 'select--default'}} ) }}
                    </div>
                    <div class="col s12 l5 xl4">
                        {{ form_row(form.sortingDirection, {'label' : 'label.items_sorting_direction', 'attr': {'data-controller': 'select--default'}} ) }}
                    </div>
                </div>

                <div data-controller="list-properties">
                    <div class="row">
                        <div class="col s12 l5 offset-l1 xl4 offset-xl2">
                            {{ form_row(form.displayMode, {'label' : 'label.collections_display_mode', 'attr': {
                                'data-controller': 'select--display-mode',
                                'data-action': 'change->list-properties#displayProperties'
                            }} ) }}
                        </div>
                        <div class="col s12 l5 xl4 {% if displayConfiguration.displayMode != 'list' %}hidden{% endif %}"
                             data-controller="columns-list"
                             data-list-properties-target="property"
                        >
                            {% if form.columns is defined %}
                                <div>{{ form_label(form.columns, 'label.items_list_columns') }}</div>

                                <div>
                                    <div data-columns-list-target="checkedHolder" class="property-list-holder">
                                        {% for child in form.columns.children|filter(child => child.vars.data == true) %}
                                            {{ form_row(child) }}
                                        {% endfor %}
                                    </div>
                                    <div data-columns-list-target="uncheckedHolder" class="property-list-holder">
                                        {% for child in form.columns.children|filter(child => child.vars.data == false) %}
                                            {{ form_row(child) }}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% do form.columns.setRendered %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 l5 offset-l1 xl4 offset-xl2 {% if displayConfiguration.displayMode != 'list' %}hidden{% endif %}"
                             data-list-properties-target="property"
                        >
                            {{ form_row(form.showVisibility, {'label' : 'label.list_show_visibility'}) }}
                        </div>
                        <div class="col s12 l5 xl4 {% if displayConfiguration.displayMode != 'list' %}hidden{% endif %}"
                             data-list-properties-target="property"
                        >
                            {{ form_row(form.showActions, {'label' : 'label.list_show_actions'}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 l5 offset-l1 xl4 offset-xl2 {% if displayConfiguration.displayMode != 'list' %}hidden{% endif %}"
                             data-list-properties-target="property"
                        >
                            {{ form_row(form.showNumberOfChildren, {'label' : 'label.list_show_number_of_children'}) }}
                        </div>
                        <div class="col s12 l5 xl4 {% if displayConfiguration.displayMode != 'list' %}hidden{% endif %}"
                             data-list-properties-target="property"
                        >
                            {{ form_row(form.showNumberOfItems, {'label' : 'label.list_show_number_of_items'}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="center-align form-btn-holder">
                <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
                <a href="{{ path('app_collection_index') }}" class="waves-effect btn-cancel waves-light btn"> {{ 'btn.cancel'|trans }}</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
