{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="collection-header">
        <div class="title-block">
            <h1>{{ 'menu.collections'|trans }}</h1>
            <ul class="nav nav-pills">
                <li>{{ 'counter.item'|trans({'%count%': getTotalItemsCounter(collections)}) }}</li>
                <li>{{ 'counter.collection'|trans({'%count%': getTotalChildrenCounter(collections)}) }}</li>
            </ul>
        </div>

        <div></div>

        <div class="btn-holder">
            <div class="left">
                {% if context == 'default' %}
                    <a href="{{ path('app_collection_add') }}" class="button" title="{{ 'tooltip.add_collection'|trans }}">
                        <i class="fa fa-folder fa-fw"></i>
                    </a>
                    <i data-target="modal-share" class="button btn-share modal-trigger fa fa-share fa-fw" title="{{ 'tooltip.share'|trans }}"></i>
                {% endif %}
            </div>
            <div class="right">
                <input id="filter-by-name-input" class="filter-input" type="text" placeholder="{{ 'filter.by_name'|trans }}" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="content-block">
        <div class="collections grid-container-collections">
            {% for collection in collections %}
                {{ include('App/Collection/_partials/_collection.html.twig', {'collection': collection}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% if context == 'default' %}
        {{ include('App/_partials/_modal_share.html.twig', {'route': url('app_user_collection_index', {username: app.user.username})}) }}
    {% endif %}
{% endblock %}

