{% extends 'layout-autorized.html.twig' %}
{% import "App/macros.html.twig" as macros %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], collection) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="collection-header">
            <div class="title-block">
                <div class="left">
                    {% if collection.image != null %}
                        <img class="thumbnail avatar" src="{{ preload(asset(collection.image.path)) }}">
                    {% else %}
                        <span class="thumbnail color-avatar circle avatar color-{{ collection.color }}">{{collection.title|first|upper}}</span>
                    {% endif %}
                </div>
                <div class="right">
                    <h1>{{ collection.title }}</h1>
                    <ul class="nav nav-pills">
                        <li>{{ 'counter.item'|transchoice(counters[collection.id].items) }}</li>
                        <li>{{ 'counter.collection'|transchoice(counters[collection.id].children) }}</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

            <div></div>

            <div class="btn-holder">
                <div class="left">
                    <a href="{{ path('app_item_add', {'collection': collection.id}) }}" class="button" title="{{ 'tooltip.add_item'|trans }}">
                        <i class="fa fa-plus fa-fw"></i>
                    </a>
                    <a href="{{ path('app_collection_add', {'parent': collection.id} ) }}" class="button" title="{{ 'tooltip.add_collection'|trans }}">
                        <i class="fa fa-folder fa-fw"></i>
                    </a>
                    <a href="{{ path('app_collection_edit', {'id': collection.id}) }}" class="button" title="{{ 'tooltip.edit'|trans }}">
                        <i class="fa fa-pencil fa-fw"></i>
                    </a>
                    <a href="#delete" class="modal-trigger button" title="{{ 'tooltip.delete'|trans }}">
                        <i class="fa fa-trash fa-fw"></i>
                    </a>
                    <a href="{{ path('app_collection_batch_tagging', {'id': collection.id}) }}" class="button" title="{{ 'tooltip.tag'|trans }}">
                        <i class="fa fa-terminal fa-fw"></i>
                    </a>
                    <a href="{{ path('app_collection_history', {'id': collection.id}) }}" class="button" title="{{ 'tooltip.history'|trans }}">
                        <i class="fa fa-history fa-fw"></i>
                    </a>
                    <a href="{{ path('app_collection_items', {'id': collection.id}) }}" class="button" title="{{ 'tooltip.items'|trans }}">
                        <i class="fa fa-ellipsis-h fa-fw"></i>
                    </a>
                    {{ include('App/share.html.twig', {'entity': collection, 'route': url('app_user_collection', {id: collection.id, username: app.user.username})}) }}
                </div>
                <div class="right">
                    <input id="filter-by-name-input" class="filter-input" type="text" placeholder="{{ 'filter.by_name'|trans }}" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="content-block">
            <!-- Child collections -->
            {% if children is not empty %}
                <div class="block-element">
                    <h5 class="header">{{ collection.childrenTitle|default('title.children'|trans) }}</h5>
                    <div class="collections grid-container-collections">
                        {% for child in children %}
                            {{ include('App/Collection/partials/collection.html.twig', {'collection': child}) }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Collection's items -->
            {% if items is not empty %}
                <div class="block-element">
                    <h5 class="header">{{ itemsTitle|default('title.items'|trans) }}</h5>
                    <div id="collection-items" class="grid-container-items">
                        {% for item in items|naturalSorting %}
                            <div class="collection-item element valign-wrapper" data-title="{{ item.name }}">
                                <a href="{{ path('app_item_show', {'id': item.id}) }}">
                                    {{ macros.lazyImage(item.image.thumbnailPath, 'aria.item'|trans({'%name%': item.name})) }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="delete" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to delete that collection ? Every items and images belonging to it will be permanently lost...</p>
        </div>
        <div class="modal-footer row">
            <a href="{{ path('app_collection_delete', {'id': collection.id}) }}" class="modal-action modal-close waves-effect btn col s2">Agree</a>
            <a href="#" class="modal-action modal-close waves-effect waves-light btn red darken-1 col s2">Disagree</a>
        </div>
    </div>
{% endblock %}
