{{ form_start(form) }}
    {{ form_row(form.file) }}
<div class="row">
    <div class="col s12 l5 offset-l1 xl3 offset-xl3">
        {{ form_row(form.title, {'label' : 'label.title'}) }}
    </div>
    <div class="col s12 l5 xl3">
        {{ form_row(form.visibility, {'label' : 'label.visibility', 'attr': {'data-controller': 'select--visibility'}} ) }}
    </div>
</div>

<div class="row">
    <div class="col s12 l5 offset-l1 xl3 offset-xl3">
        {{ form_row(form.place, {'label' : 'label.place'}) }}
    </div>
    <div class="col s12 l5 xl3">
        {{ form_row(form.takenAt, {'label' : 'label.taken_at', 'attr': {'data-controller' : 'datepicker' }} ) }}
    </div>
</div>

<div class="row">
    <div class="col s12 l5 offset-l1 xl3 offset-xl3">
        {{ form_row(form.album, {'label' : 'label.album', 'attr': {'data-controller': 'select--default'}}) }}
    </div>
</div>

<div class="row">
    <div class="col s12 l10 offset-l1 xl6 offset-xl3">
        {{ form_row(form.comment, {'label' : 'label.comment', 'attr': {'class': 'materialize-textarea'}}) }}
    </div>
</div>

<div class="center-align form-btn-holder">
    {% if app.request.get('_route') == 'app_photo_add' %}
        {% set cancelUrl = path('app_album_show', {id: app.request.query.get('album')}) %}
    {% else %}
        {% set cancelUrl = path('app_album_show', {id: photo.album.id}) %}
    {% endif %}

    <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
    <a href="{{ cancelUrl }}" class="waves-effect waves-light btn btn-cancel">{{ 'btn.cancel'|trans }}</a>
</div>
{{ form_end(form) }}
