{% extends 'layout-preview.html.twig' %}
{% import "App/macros.html.twig" as macros %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_preview_collections', 'trans': 'menu.collections_preview'}], collection) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
            <div class="left">
                {% if collection.image != null %}
                    <img class="thumbnail avatar" src="{{ preload(asset(collection.image.path)) }}">
                {% else %}
                    <span class="thumbnail color-avatar circle avatar color-{{ collection.color }}">{{collection.title|first|upper}}</span>
                {% endif %}
            </div>
            <div class="right">
                <h1>{{ collection.title }}</h1>
                <ul class="nav nav-pills">
                    <li>{{ 'counter.item'|transchoice(counters[collection.id].items) }}</li>
                    <li>{{ 'counter.collection'|transchoice(counters[collection.id].children) }}</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div></div>

        <div class="btn-holder">
            <div class="left">
                <a href="{{ path('app_preview_items', {'id': collection.id}) }}" class="button" title="{{ 'tooltip.items'|trans }}">
                    <i class="fa fa-ellipsis-h fa-fw"></i>
                </a>
            </div>
            <div class="right">
                <input id="filter-by-name-input" class="filter-input" type="text" placeholder="{{ 'filter.by_name'|trans }}" />
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="content-block">
            <!-- Child collections -->
            {% if children is not empty %}
                <div class="block-element">
                    <h5 class="header">{{ collection.childrenTitle|default('title.children'|trans) }}</h5>
                    <div class="collections grid-container-collections">
                        {% for child in children|naturalSorting %}
                            {{ include('App/Preview/partials/collection.html.twig', {'collection': child}) }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Collection's items -->
            {% if items is not empty %}
                <div class="block-element">
                    <h5 class="header">{{ collection.itemsTitle|default('title.items'|trans) }}</h5>
                    <div id="collection-items" class="grid-container-items">
                        {% for item in items|naturalSorting %}
                            <div class="collection-item element valign-wrapper" data-title="{{ item.name }}">
                                <a class="valign" href="{{ path('app_preview_item', {id: item.id}) }}">
                                    {{ macros.lazyImage(item.image.thumbnailPath, 'aria.item'|trans({'%name%': item.name})) }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
