{% extends 'layout-preview.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_preview_collections', 'trans': 'menu.collections_preview'}], item) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
            <h1>{{ item.name }}</h1>
            <span>{{ 'global.created_at'|trans({'%date%': item.createdAt|date('d/m/Y')}) }} - {{ 'global.updated_at'|trans({'%date%': item.updatedAt|date('d/m/Y')}) }}</span>
        </div>

        <div class="content-block">
            <div class='item-details'>
                <div class="slider-container item-image-container">
                    <div class="slider-frame">
                        <a href="{{ preload(asset(item.image.path)) }}" data-lightbox="image-{{ item.id }}" data-title="{{ 'label.main_image'|trans }}">
                            <img src="{{ preload(asset(item.image.path)) }}" aria-label="{{ 'aria.item_main_image'|trans({'%name%': item.name}) }}">
                        </a>
                        <span class="image-label">{{ 'label.main_image'|trans }}</span>
                    </div>

                    {% if item.dataImages|length > 0 %}
                        <ul class="slider-elements">
                            <li>
                                <a class="slider-element active" href="{{ preload(asset(item.image.path)) }}" data-title="{{ 'label.main_image'|trans }}">
                                    <img src="{{ preload(asset(item.image.thumbnailPath)) }}" aria-label="{{ 'aria.item_main_image_thumbnail'|trans({'%name%': item.name}) }}">
                                </a>
                            </li>
                            {% for datum in item.dataImages %}
                                <li>
                                    <a class="slider-element" href="{{ preload(asset(datum.image.path)) }}" data-title="{{ datum.label }}">
                                        <img class="" src="{{ preload(asset(datum.image.thumbnailPath)) }}" aria-label="{{ 'aria.item_image_thumbnail'|trans({'%name%': item.name, '%label%': datum.label}) }}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="data">
                    {% for datum in item.dataTexts %}
                        <div>
                            <span class="label">{{ datum.label }} :</span>
                            {% for value in datum.value|split(',') %}
                                {% set tag = item.getTagWithValue(value) %}
                                {% if tag %}
                                    <a href="{{ path('app_preview_tag', {id: tag.id}) }}">{{ value }}{{ not loop.last ? ',' }}</a>
                                {% else %}
                                    {{ value }}{{ not loop.last ? ',' }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if item.tags is not empty %}
            <div class="tags-block">
                <ul class="nav nav-tags">
                    {% for tag in item.tags|naturalSorting %}
                        <li class="tag chip"><a href="{{ path('app_preview_tag', {id: tag.id}) }}" aria-label="{{ 'aria.tag'|trans({'%label%': tag.label}) }}">{{ tag.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="navigation-block row">
            {% if previousItem is not null %}
                <a href="{{ path('app_preview_item', {id: previousItem.id}) }}">
                    <span class="unbreakable"><i class="fa fa-angle-left fa-fw"></i>{{ previousItem.name|truncate(30) }}</span>
                </a>
            {% endif %}
            {% if previousItem is not null and previousItem is not null %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
            {% if nextItem is not null %}
                <a href="{{ path('app_preview_item', {id: nextItem.id}) }}">
                    <span class="unbreakable">{{ nextItem.name|truncate(30) }}<i class="fa fa-angle-right fa-fw"></i></span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
