{% extends 'layout-preview.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_preview_statistics', 'trans': 'menu.statistics_preview'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
            <h1>{{ 'menu.statistics'|trans }}</h1>
            <ul class="nav nav-pills">
                <li>{{ 'counter.collection'|transchoice(counters.collections) }}</li>
                <li>{{ 'counter.item'|transchoice(counters.items) }}</li>
                <li>{{ 'counter.tag'|transchoice(counters.tags) }}</li>
                <li>{{ 'counter.sign'|transchoice(counters.signs) }}</li>
            </ul>
        </div>

        <div class="content-block calendars">
        </div>

        <div class="content-block bar-charts">
            <div class="block-element bar-chart-row">
                <div class="left-chart bar-chart month-days-chart">
                    <h5 class="header">{{ 'title.charts.month_days'|trans }}</h5>
                </div>
                <div class="right-chart bar-chart hours-chart">
                    <h5 class="header">{{ 'title.charts.hours'|trans }}</h5>
                </div>
            </div>
            <div class="block-element bar-chart-row last">
                <div class="left-chart bar-chart months-chart">
                    <h5 class="header">{{ 'title.charts.months'|trans }}</h5>
                </div>
                <div class="right-chart bar-chart week-days-chart">
                    <h5 class="header">{{ 'title.charts.week_days'|trans }}</h5>
                </div>
            </div>
        </div>

        <div class="content-block">
            <h5 class="header">{{ 'title.charts.radial_tree'|trans }}</h5>
            <div class="radial-tree"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/json" id="jsonCalendar">{{ calendarJson|safeContent }}</script>
    <script type="application/json" id="treeJson">{{ treeJson|safeContent }}</script>
    <script type="application/json" id="hoursChartJson">{{ hoursChartJson|safeContent }}</script>
    <script type="application/json" id="monthsChartJson">{{ monthsChartJson|safeContent }}</script>
    <script type="application/json" id="monthDaysChartJson">{{ monthDaysChartJson|safeContent }}</script>
    <script type="application/json" id="weekDaysChartJson">{{ weekDaysChartJson|safeContent }}</script>
{% endblock %}

