{{ form_start(form) }}
    {{ form_row(form.file) }}

<div class="row">
    <div class="s12 l5 offset-l1 xl4 offset-xl2">
        {{ form_row(form.label, {'label': 'label.name'}) }}
    </div>
    <div class="s12 l5 xl4">
        {{ form_row(form.category, {'label' : 'label.tag_category', 'attr': {'data-controller': 'select--tag-category'}} ) }}
    </div>
</div>

<div class="row">
    <div class="s12 l5 offset-l1 xl4 offset-xl2">
        {{ form_row(form.visibility, {'label' : 'label.visibility', 'attr': {'data-controller': 'select--visibility'}} ) }}
    </div>
    <div class="s12 l5 xl4">
        {{ form_row(form.itemsDisplayConfiguration.displayMode, {'label' : 'label.items_display_mode', 'attr': {'data-controller': 'select--display-mode'}} ) }}
    </div>
</div>

<div class="row">
    <div class="s12 l10 offset-l1 xl8 offset-xl2">
        {{ form_row(form.description, {'label': 'label.description', 'attr' : {'class': 'materialize-textarea', 'data-controller': 'textarea'}}) }}
    </div>
</div>

<div class="center-align form-btn-holder">
    <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
    <a href="{{ path('app_tag_show', { id : tag.id }) }}"
       class="waves-effect waves-light btn btn-cancel">{{ 'btn.cancel'|trans }}</a>
</div>
{{ form_end(form) }}