{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_tag_index', 'trans': 'menu.tags'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.tags'|trans }}</h1>
        <ul class="nav nav-pills">
            <li>{{ 'counter.tag'|trans({'%count%': tagsCount}) }}</li>
        </ul>
    </div>

    <div></div>

    <div class="btn-holder">
        {% if context == 'default' %}
            <i data-target="modal-share" class="button btn-share modal-trigger fa fa-share fa-fw" title="{{ 'tooltip.share'|trans }}"></i>
        {% endif %}
    </div>

    <div class="content-block">
        <div class="row">
            <form>
                <div class="input-field col s10 offset-s1 m4 offset-m0">
                    <input id="search" name="search" type="text" value="{{ search }}" class="width-75"/>
                    <label for="search">{{ 'filter.by_name'|trans }}</i></label>
                    <a href="{{ path('app_tag_index'|applyContext) }}" class="btn-dark-grey"><i class="fa fa-eraser fa-fw"></i></a>
                </div>
            </form>
        </div>

        <div>
            <table class="centered striped">
                <thead>
                    <tr>
                        <th>{{ 'label.name'|trans }}</th>
                        <th>{{ 'label.description'|trans }}</th>
                        <th>{{ 'label.number_of_items'|trans }}</th>
                        <th>{{ 'label.percent_of_items'|trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for result in results %}
                        <tr class="list-element resize-element" data-title="{{ result.tag.label }}">
                            <td><strong><a href="{{ path('app_tag_show'|applyContext, {'id' : result.tag.id}) }}">{{ result.tag.label|truncate(50) }}</a></strong></td>
                            <td>{{ result.tag.description|truncate(50) }}</td>
                            <td>{{ result.itemCount }}</td>
                            <td>{{ result.percent|round(2, 'common') }} %</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ include('App/pagination.html.twig', {paginator: paginator}) }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% if context == 'default' %}
        {{ include('Modal/share.html.twig', {'route': url('app_user_tag_index', {username: app.user.username})}) }}
    {% endif %}
{% endblock %}

