{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_tag_index', 'trans': 'menu.tags'}], tag) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block meta %}
    {% if context == 'shared' %}
        {{ include('App/_partials/_meta.html.twig', {
            'title': renderTitle(breadcrumb),
            'description': 'menu.tags_shared'|trans({'username':  app.request.get('username')}),
            'image': tag.imageSmallThumbnail
        }) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div data-controller="filter">
        <div class="collection-header">
            <div class="title-block">
                <h1>
                    {{ tag.label }}
                    {% if tag.category is not empty %}
                        <span class="tag-category-color" style="background-color: {{ tag.category.color }}"
                              title="{{ tag.category.label }}"></span>
                    {% endif %}
                </h1>
                <ul class="nav nav-pills">
                    <li>{{ 'counter.item'|trans({'count': tag.items|length}) }}</li>
                </ul>
            </div>

            <div></div>

            <div class="btn-holder">
                <div class="left">
                    {% if context == 'default' %}
                        <a href="{{ path('app_tag_edit', {'id': tag.id}) }}" class="button"
                           title="{{ 'tooltip.edit'|trans }}">
                            <i class="fa fa-pencil fa-fw"></i>
                        </a>
                        {{ include('App/_partials/_icon/_delete.html.twig', {
                            path: path('app_tag_delete', {id: tag.id}),
                            message: 'message.delete.tag'
                        }) }}
                        {{ include('App/_partials/_icon/_share.html.twig', {route: 'app_shared_tag_show', entity: tag}) }}
                        {{ include('App/_partials/_visibility.html.twig', {'visibility': tag.visibility}) }}
                    {% endif %}
                </div>
                <div class="right">
                    <input data-action="keyup->filter#filter" class="filter-input" autocomplete="off" type="text"
                           placeholder="{{ 'filter.by_name'|trans }}"/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="content-block">
            {% if null != tag.image or null != tag.description %}
                <div class="block-element">
                    <h2 class="header">{{ 'title.infos'|trans }}</h2>
                    <div class="tag-image-container" data-controller="lightbox">
                        {% if tag.image is not null %}
                            <a href="{{ asset(tag.image) }}" data-lightbox="image-{{ tag.id }}">
                                <img class="tag-image"
                                     src="{{ preload(asset(tag.imageSmallThumbnail), {as: 'image'}) }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="tag-description">
                        {{ tag.description|highlightTags|nl2br }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endif %}

            {% if relatedTags is not empty %}
                <div class="block-element">
                    <h2 class="header">{{ 'title.related_tags'|trans }}</h2>
                    <div class="tags-block" data-controller="show-more">
                        <ul class="nav nav-tags">
                            {% for tag in relatedTags|naturalSorting %}
                                <li class="tag chip {{ loop.index > 10 ? 'hidden' }}"
                                    {% if loop.index > 10 %}data-show-more-target="hideable"{% endif %}>
                                    <a href="{{ path('app_tag_show'|applyContext, {'id' : tag.id}) }}">
                                        {{ tag.label }}
                                    </a>
                                    {% if tag.category is not empty %}
                                        <span class="tag-category-color"
                                              style="background-color: {{ tag.category.color }}"
                                              title="{{ tag.category.label }}"></span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <li class="show-more-btn-holder">
                                {% if relatedTags|length > 10 %}
                                    <a href="#" data-action="show-more#showMore"
                                       data-show-more-target="showMoreButton">{{ 'btn.show_more'|trans({'count': relatedTags|length - 10}) }}</a>
                                    <a href="#" data-action="show-more#showLess" data-show-more-target="showLessButton"
                                       class="hidden">{{ 'btn.show_less'|trans }}</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if tag.items is not empty %}
                <div class="block-element">
                    <h2 class="header">{{ 'title.items'|trans }}</h2>
                    {{ include('App/Tag/_items_' ~ tag.itemsDisplayConfiguration.displayMode|default('grid') ~ '.html.twig', {'items': tag.items, tag: tag}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ renderFooter(tag) }}
{% endblock %}

