<div class="tabs-block admin">
    <ul class="nav nav-pills">
        <li class="tab {{ current == "statistics" ? 'current' }}">
            <a href="{{ path('app_admin_index') }}">
                <span>{{ 'tab.statistics'|trans }}</span>
            </a>
        </li>
        <li class="tab {{ current == "users" ? 'current' }}">
            <a href="{{ path('app_admin_users') }}">
                <span>{{ 'tab.users'|trans }}</span>
            </a>
        </li>
        <li class="tab {{ current == "analytics" ? 'current' }}">
            <a href="{{ path('app_admin_analytics') }}">
                <span>{{ 'tab.analytics'|trans }}</span>
            </a>
        </li>
        <li class="tab {{ current == "trans" ? 'current' }}">
            <a href="{{ path('translation_index') }}">
                <span>{{ 'tab.translations'|trans }}</span>
            </a>
        </li>
    </ul>
</div>
