{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col s3">
        {{ form_row(form.host, {'label' : 'label.host'} ) }}
    </div>
    <div class="col s3">
        {{ form_row(form.port, {'label' : 'label.port'} ) }}
    </div>
    <div class="col s3">
        {{ form_row(form.name, {'label' : 'label.database_name'} ) }}
    </div>
    <div class="col s3">
        {{ form_row(form.user, {'label' : 'label.user'} ) }}
    </div>
    <div class="col s3">
        {{ form_row(form.password, {'label' : 'label.password'} ) }}
    </div>
    <div class="col s3">
        <button type="submit" name="add" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
    </div>
    <div class="clearfix"></div>
{{ form_end(form) }}
