{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_profile_index', 'trans': 'menu.profile'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.profile'|trans }}</h1>
    </div>

    <div class="content-block">
        <div class="block-element">
            <h5 class="header">{{ 'title.disk_usage'|trans }}</h5>
            <div class="pie-wrapper">
                {% set percent = (getSpaceUsedByUser(app.user) * 100 / app.user.diskSpaceAllowed)|round(0, 'floor') %}
                <span class="label">{{ percent }}<span class="smaller">%</span></span>
                <div class="pie {{ percent > 50 ? 'above50' : '' }}">
                    <div class="left-side half-circle" style="-webkit-transform: rotate({{ percent*360/100 }}deg); transform: rotate({{ percent*360/100 }}deg);"></div>
                    <div class="right-side half-circle"></div>
                </div>
                <div class="shadow"></div>
            </div>
            <div class="pie-stat">{{ getSpaceUsedByUser(app.user)|bytes }}/{{ app.user.diskSpaceAllowed|bytes }}</div>
        </div>

        <div class="block-element">
            <h5 class="header">{{ 'title.update_profile'|trans }}</h5>

            {{ form_start(formProfile) }}
            {{ form_row(formProfile.file) }}

            <div class="row">
                <div class="col s12 l5 offset-l1 xl3 offset-xl3">
                    {{ form_row(formProfile.plainPassword.first, {'label' : 'label.password', 'attr': {'autocomplete' : 'new-password'}} ) }}
                </div>
                <div class="col s12 l5 xl3">
                    {{ form_row(formProfile.plainPassword.second, {'label' : 'label.repeat_password'} ) }}
                </div>
            </div>

            <div class="row center-align form-btn-holder">
                <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
            </div>
            {{ form_end(formProfile) }}
        </div>

        <div class="block-element">
            <h5 class="header">{{ 'title.update_settings'|trans }}</h5>

            {{ form_start(formSettings) }}
                <div class="row">
                    <div class="col s12 l5 offset-l1 xl3 offset-xl3">
                        {{ form_row(formSettings.locale, {'label' : 'label.locale', 'attr': {'class': 'js-select-locale'}} ) }}
                    </div>
                    <div class="col s12 l5 xl3">
                        {{ form_row(formSettings.theme, {'label' : 'label.theme', 'attr': {'class': 'js-select-theme'}} ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 l5 offset-l1 xl3 offset-xl3">
                        {{ form_row(formSettings.timezone, {'label' : 'label.timezone'} ) }}
                    </div>
                    <div class="col s12 l5 xl3">
                        {{ form_row(formSettings.dateFormat, {'label' : 'label.date_format'} ) }}
                    </div>
                </div>

            <div class="row">
                <div class="col s12 l5 offset-l1 xl3 offset-xl3">
                    {{ form_row(formSettings.currency, {'label' : 'label.currency'} ) }}
                </div>
                <div class="col s12 l5 xl3">
                    {{ form_row(formSettings.visibility, {'label' : 'label.visibility'} ) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12 l10 offset-l1 xl6 offset-xl3">
                    <p>
                        {{ 'message.visibility'|trans }}
                        <strong><a href="{{ url('app_user_collection_index', {username : app.user.username}) }}">{{ url('app_user_collection_index', {username : app.user.username}) }}</a></strong>
                    </p>
                    <p>
                        {{ 'message.visibility_preview'|trans }}
                        <strong><a href="{{ url('app_preview_collection_index') }}">{{ url('app_preview_collection_index') }}</a></strong>
                    </p>
                    <p>{{ 'message.visibility_per_item'|trans }}</p>
                </div>
            </div>



                <div class="row center-align form-btn-holder">
                    <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
                </div>
            {{ form_end(formSettings) }}
        </div>
    </div>
{% endblock %}
