<div class="collection-header">
    <div class="title-block">
        <h1>
            {{ item.name }}
            {% if item.quantity > 1 %}
                <span class="quantity">(x{{ item.quantity }})</span>
            {% endif %}
        </h1>
        {% if displayCollection is defined and displayCollection == true %}
            <div>
                {{ 'label.item.from_collection'|trans }}
                <a href="{{ path('app_collection_show'|applyContext, {id: item.collection.id} ) }}">
                    {{ item.collection.title }}
                </a>
            </div>
        {% endif %}
    </div>

    <div>
        {% if context == 'default' %}
            <div class="btn-holder">
                <a href="{{ path('app_item_edit', {'id': item.id}) }}" class="button" title="{{ 'tooltip.edit'|trans }}">
                    <i class="fa fa-pencil fa-fw"></i>
                </a>
                {{ include('App/_partials/_delete_icon.html.twig', {
                    path: path('app_item_delete', {id: item.id}),
                    message: 'message.delete.item'
                }) }}
                {% if isFeatureEnabled('loans') %}
                    <a href="{{ path('app_item_loan', {'id': item.id}) }}" class="button" title="{{ 'tooltip.loan_item'|trans }}">
                        <i class="fa fa-exchange fa-fw"></i>
                    </a>
                {% endif %}
                {% if isFeatureEnabled('history') %}
                    <a href="{{ path('app_item_history', {'id': item.id}) }}" class="button" title="{{ 'tooltip.history'|trans }}">
                        <i class="fa fa-history fa-fw"></i>
                    </a>
                {% endif %}
                <i data-target="modal-share" class="button btn-share modal-trigger fa fa-share fa-fw" title="{{ 'tooltip.share'|trans }}"></i>
                {{ include('App/_partials/_visibility.html.twig', {'visibility': item.finalVisibility}) }}
            </div>
        {% endif %}
    </div>
</div>
<div class="clearfix"></div>

<div class="content-block">
    <div class="item-wrapper">
        <div class="slider-container item-image-container {{ item.dataTexts|length > 0 ? 'margin-right-30' }}" {{ stimulus_controller('slider') }}>
            <div class="slider-frame" {{ stimulus_controller('lightbox') }}>
                    <a href="{{ asset(item.image|default('build/images/default.png')) }}" data-sub-html="{{ 'label.main_image'|trans }}" data-slider-target="image" data-id="{{ item.id }}" class="active">
                        <div>
                            <img src="{{ preload(asset(item.imageLargeThumbnail|default('build/images/default.png')), {as: 'image'}) }}"
                                 title="{{ 'label.main_image'|trans }}"
                                 aria-label="{{ 'aria.item_main_image'|trans({'%name%': item.name}) }}"
                            >
                            <span class="image-label" data-slider-target="label">{{ 'label.main_image'|trans }}</span>
                        </div>
                    </a>
                {% for datum in item.dataImages %}
                    <a href="{{ asset(datum.image|default('build/images/default.png')) }}" data-sub-html="{{ datum.label }}" data-slider-target="image" data-id="{{ datum.id }}">
                        <div>
                            <img src="{{ preload(asset(datum.imageLargeThumbnail|default('build/images/default.png')), {as: 'image'}) }}"
                                 title="{{ 'label.main_image'|trans }}"
                                 aria-label="{{ 'aria.item_main_image_thumbnail'|trans({'%name%': item.name}) }}"
                            >
                            <span class="image-label" data-slider-target="label">{{ datum.label }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>


            {% if item.dataImages|length > 0 %}
                <ul class="slider-elements">
                    <li>
                        <img src="{{ preload(asset(item.imageSmallThumbnail|default('build/images/default.png')), {as: 'image'}) }}"
                             class="active"
                             data-id="{{ item.id }}"
                             data-slider-target="thumbnail"
                             data-action="click->slider#display"
                             aria-label="{{ 'aria.item_main_image_thumbnail'|trans({'%name%': item.name}) }}"
                        >
                    </li>

                    {% for datum in item.dataImages %}
                        <li>
                            <img src="{{ preload(asset(datum.imageSmallThumbnail|default('build/images/default.png')), {as: 'image'}) }}"
                                 data-id="{{ datum.id }}"
                                 data-slider-target="thumbnail"
                                 data-action="click->slider#display"
                                 aria-label="{{ 'aria.item_image_thumbnail'|trans({'%name%': item.name, '%label%': datum.label}) }}"
                            >
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="data">
            {% set underlinedTags = getUnderlinedTags(item.dataTexts) %}
            {% for datum in item.dataTexts %}
                <div class="datum-row">
                    <span class="label">{{ datum.label }} :</span>
                    {% if datum.type == constant('App\\Enum\\DatumTypeEnum::TYPE_TEXT') %}
                        {% for value in datum.value|split(',') %}
                            {{ underlinedTags[value|trim] is defined ? underlinedTags[value|trim]|raw : value }}{{ not loop.last ? ',' }}
                        {% endfor %}
                    {% elseif datum.type == constant('App\\Enum\\DatumTypeEnum::TYPE_LINK') %}
                        <a href="{{ datum.value }}" target="_blank">{{ datum.value|u.truncate(50, '...') }}</a>
                    {% elseif datum.type == constant('App\\Enum\\DatumTypeEnum::TYPE_NUMBER') %}
                        {{ datum.value }}
                    {% elseif datum.type == constant('App\\Enum\\DatumTypeEnum::TYPE_COUNTRY') %}
                        {% if datum.value is not empty %}
                            <span class="flag">{{ getCountryFlag(datum.value) }}</span>
                            <span class="country-name">({{ getCountryName(datum.value) }})</span>
                        {% endif %}
                    {% elseif datum.type == constant('App\\Enum\\DatumTypeEnum::TYPE_FILE') %}
                        {% if datum.file is not empty %}
                            <a href="{{ asset(datum.file) }}" class="file" target="_blank" download="{{ datum.originalFilename }}">{{ datum.originalFilename }}</a>
                        {% endif %}
                    {% elseif datum.type == constant('App\\Enum\\DatumTypeEnum::TYPE_DATE') %}
                        {{ datum.value|date(app.user.dateFormat|default('Y-m-d')) }}
                    {% elseif datum.type == constant('App\\Enum\\DatumTypeEnum::TYPE_RATING') %}
                        <span class="rating-display">
                            {% for i in 1 .. 10 %}
                                <label class="{{ loop.index % 2 == 0 ? 'fa-star' : 'fa-star-half' }} {{ i <= datum.value ? 'colored' }}"></label>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% if item.allRelatedItems is not empty %}
    <div class="related-items">
        <span>{{ 'label.list_related_items'|trans }} :</span>
        {% for relatedItem in item.allRelatedItems|naturalSorting %}
            <a href="{{ path('app_item_show'|applyContext, {id: relatedItem.id}) }}">{{ relatedItem.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if isFeatureEnabled('tags') and item.tags is not empty %}
    <div class="tags-block">
        <ul class="nav nav-tags">
            {% for tag in item.tags|naturalSorting %}
                <li class="tag chip">
                    <a href="{{ path('app_tag_show'|applyContext, {'id' : tag.id}) }}" aria-label="{{ 'aria.tag'|trans({'%label%': tag.label}) }}">
                        {{ tag.label }}
                    </a>
                    {% if tag.category is not empty %}
                        <span class="tag-category-color" style="background-color: {{ tag.category.color }}" title="{{ tag.category.label }}"></span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}