{% extends 'layout.html.twig' %}
{% form_theme form 'Form/fields.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], item, 'breadcrumb.edit_item') %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="title-block">
          <h1>{{ 'title.edit_item'|trans({'%item%': item.name}) }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form) }}
            {% do form.data.setRendered %}
            <div class="block-element">
                <div class="row">
                    <h5 class="header">{{ 'title.infos'|trans }}</h5>
                    <div class="col s10 offset-s1 m5 offset-m1">
                        {{ form_row(form.name, {'label' : 'label.name'}) }}
                    </div>
                    <div class="col s10 offset-s1 m5 offset-m0">
                        {{ form_row(form.image, {'attr': {'src' : item.image ? item.image.path : null}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m4 offset-m1">
                        {{ form_row(form.collection, {'label' : 'label.collection'}) }}
                    </div>
                    <div class="col s10 offset-s1 m3 offset-m0">
                        {{ form_row(form.quantity, {'label' : 'label.quantity'} ) }}
                    </div>
                    <div class="col s10 offset-s1 m3 offset-m0">
                        {{ form_row(form.visibility, {'label' : 'label.visibility'} ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 autocomplete-wrapper">
                        <div class="input-field">
                            <input type="text" id="tagsAutocomplete" class="autocomplete" autocomplete="off">
                            {{ form_label(form.tags, 'label.tags') }}
                            <div class="ac-tags">
                            </div>
                        </div>
                        {{ form_widget(form.tags, {'label' : 'label.tags', 'attr': {'class' : 'hidden tags-holder'}}) }}
                    </div>
                </div>
            </div>
            <div class="row block-element">
                <h5 class="header">{{ 'title.additional_fields'|trans }}</h5>
                <div class="col s10 offset-s1 m4 offset-m1 input-field">
                    <select class="selectFieldType">
                        <option value=""></option>
                        {% for key, fieldType in fieldsType %}
                            <option value="{{ key }}">{{ fieldType|trans }}</option>
                        {% endfor %}
                    </select>
                    <label>{{ 'label.new_data'|trans }}</label>
                </div>
                <div class="col s10 offset-s1 m4 offset-m0">
                    {{ form_row(form.template, {'label' : 'label.apply_template', 'attr' : {'class' : 'selectTemplate'}}) }}
                </div>
                <div class="col s10 m2">
                    <button class="btn align-with-inputs btn-common-fields" data-collection-id="{{ item.collection.id }}">{{ 'btn.apply_collection_data'|trans }}</button>
                </div>
                <div class="clearfix"></div>
                {{ include('App/Item/_partials/data.html.twig', {data: item.data}) }}
            </div>

            <div class="form-btn-holder">
                <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
                <a href="{{ path('app_item_show', { id : item.id }) }}" class="waves-effect waves-light btn red darken-1">{{ 'btn.cancel'|trans }}</a>
            </div>
            <div class="clearfix"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
