{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], item, 'breadcrumb.history_item') %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="collection-header">
        <div class="title-block">
            <h1>
                {{ item.name }}
                {% if item.quantity > 1 %}
                    <span class="quantity">(x{{ item.quantity }})</span>
                {% endif %}
            </h1>
            <span>
            {{ 'global.created_at'|trans({'%date%': item.createdAt|date(app.user.dateFormat|default('Y-m-d'), app.user.timezone|default('UTC'))}) }}
                - {{ 'global.updated_at'|trans({'%date%': item.updatedAt ? item.updatedAt|date(app.user.dateFormat|default('Y-m-d'), app.user.timezone|default('UTC')) : '-'}) }}
        </span>
        </div>
        <div></div>
    </div>

    <div class="content-block">
        {{ include('App/History/_logs_table.html.twig', {'logs': logs}) }}
    </div>
{% endblock %}
