{% extends 'layout-autorized.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], item) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
            <h1>
                {{ item.name }}
                {% if item.quantity > 1 %}
                    <span class="quantity">(x{{ item.quantity }})</span>
                {% endif %}
            </h1>
            <span>
                {{ 'global.created_at'|trans({'%date%': item.createdAt|date('d/m/Y')}) }}
                - {{ 'global.updated_at'|trans({'%date%': item.updatedAt ? item.updatedAt|date('d/m/Y') : '-'}) }}
            </span>
        </div>
        <div class="block-split block-split-2">
            <div class="btn-holder first">
                <a href="{{ path('app_item_edit', {'id': item.id}) }}" class="button" title="{{ 'tooltip.edit'|trans }}">
                    <i class="fa fa-pencil fa-fw"></i>
                </a>
                <a href="#delete" class="modal-trigger button" title="{{ 'tooltip.delete'|trans }}">
                    <i class="fa fa-trash fa-fw"></i>
                </a>
                <a href="{{ path('app_item_loan', {'id': item.id}) }}" class="button" title="{{ 'tooltip.loan_item'|trans }}">
                    <i class="fa fa-exchange fa-fw"></i>
                </a>
                <a href="{{ path('app_item_history', {'id': item.id}) }}" class="button" title="{{ 'tooltip.history'|trans }}">
                    <i class="fa fa-history fa-fw"></i>
                </a>
                {{ include('App/share.html.twig', {'entity': item, 'route': url('app_user_item', {id: item.id, username: app.user.username})}) }}
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="content-block">
            <div class='item-details'>
                <div class="slider-container item-image-container">
                    <div class="slider-frame">
                        <a href="{{ preload(asset(item.image.path)) }}" data-lightbox="image-{{ item.id }}" data-title="{{ 'label.main_image'|trans }}">
                            <img src="{{ preload(asset(item.image.path)) }}" aria-label="{{ 'aria.item_main_image'|trans({'%name%': item.name}) }}">
                        </a>
                        <span class="image-label">{{ 'label.main_image'|trans }}</span>
                    </div>

                    {% if item.dataImages|length > 0 %}
                        <ul class="slider-elements">
                            <li>
                                <a class="slider-element active" href="{{ preload(asset(item.image.path)) }}" data-title="{{ 'label.main_image'|trans }}">
                                    <img src="{{ preload(asset(item.image.thumbnailPath)) }}" aria-label="{{ 'aria.item_main_image_thumbnail'|trans({'%name%': item.name}) }}">
                                </a>
                            </li>
                            {% for datum in item.dataImages %}
                                <li>
                                    <a class="slider-element" href="{{ preload(asset(datum.image.path)) }}" data-title="{{ datum.label }}">
                                        <img class="" src="{{ preload(asset(datum.image.thumbnailPath)) }}" aria-label="{{ 'aria.item_image_thumbnail'|trans({'%name%': item.name, '%label%': datum.label}) }}">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="data">
                    {% for datum in item.dataTexts %}
                        <div>
                            <span class="label">{{ datum.label }} :</span>
                            {% for value in datum.value|split(',') %}
                                {% set tag = item.getTagWithValue(value) %}
                                {% if tag %}
                                    <a href="{{ path('app_tag_show', {'id': tag.id}) }}">{{ value }}</a>{{ not loop.last ? ',' }}
                                {% else %}
                                    {{ value }}{{ not loop.last ? ',' }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if item.tags is not empty %}
            <div class="tags-block">
                <ul class="nav nav-tags">
                    {% for tag in item.tags|naturalSorting %}
                        <li class="tag chip"><a href="{{ path('app_tag_show', {'id' : tag.id}) }}" aria-label="{{ 'aria.tag'|trans({'%label%': tag.label}) }}">{{ tag.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="navigation-block row">
            {% if previousItem is not null %}
                <a href="{{ path('app_item_show', {id: previousItem.id}) }}">
                    <span class="unbreakable"><i class="fa fa-angle-left fa-fw"></i>{{ previousItem.name|truncate(30) }}</span>
                </a>
            {% endif %}
            {% if previousItem is not null and previousItem is not null %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
            {% if nextItem is not null %}
                <a href="{{ path('app_item_show', {id: nextItem.id}) }}">
                    <span class="unbreakable">{{ nextItem.name|truncate(30) }}<i class="fa fa-angle-right fa-fw"></i></span>
                </a>
            {% endif %}
        </div>

    </div>

    <div id="delete" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to delete this item ? Every infos and images will be permanently lost...</p>
        </div>
        <div class="modal-footer row">
            <a href="{{ path('app_item_delete', {'id': item.id}) }}" class="modal-action modal-close waves-effect btn col s2">Agree</a>
            <a class="modal-close waves-effect waves-light btn red darken-1 col s2">Disagree</a>
        </div>
    </div>
{% endblock %}
