{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_collection_index', 'trans': 'menu.collections'}], item) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block meta %}
    {% if context == 'shared'  %}
        {{ include('App/_partials/_meta.html.twig', {
            'title': renderTitle(breadcrumb),
            'description': 'menu.collections_shared'|trans({'%username%':  app.request.get('username')}),
            'image': item.imageSmallThumbnail
        }) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ include('App/Item/_content.html.twig') }}

    <div class="navigation-block row" {{ stimulus_controller('swipe') }}>
        {% if previousItem is not null %}
            <a data--swipe-target="previous" href="{{ path('app_item_show'|applyContext, {id: previousItem.id}) }}">
                <span class="unbreakable"><i class="fa fa-angle-left fa-fw"></i>{{ previousItem.name|u.truncate(30, '...') }}</span>
            </a>
        {% endif %}
        {% if previousItem is not null and previousItem is not null %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
        {% if nextItem is not null %}
            <a data--swipe-target="next" href="{{ path('app_item_show'|applyContext, {id: nextItem.id}) }}">
                <span class="unbreakable">{{ nextItem.name|u.truncate(30, '...') }}<i class="fa fa-angle-right fa-fw"></i></span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {{ renderFooter(item)  }}
{% endblock %}

{% block modals %}
    {% if context == 'default' %}
        {{ include('App/_partials/_modal/_share.html.twig', {'entity': item, 'route': url('app_shared_item_show', {id: item.id, username: app.user.username})}) }}
        {{ include('App/_partials/_modal/_delete.html.twig', {'id': 'delete', 'route': path('app_item_delete', {id: item.id}), transKey: 'message.delete.item'}) }}
    {% endif %}
{% endblock %}

