{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([
    {'route': 'app_admin_index', 'trans': 'menu.admin'},
    {'route': 'app_admin_user_index', 'trans': 'menu.users'}
]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.admin'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ include('/App/Admin/tabs.html.twig', {current: 'users'}) }}
        <div class="block-element">
            <h2 class="header">
                {{ 'title.users'|trans }}
            </h2>
            <a href="{{ path('app_admin_user_add') }}" class="btn waves-effect waves-light">
                <i class="fa fa-plus fa-fw"></i>{{ 'btn.add_user'|trans }}
            </a>
            <table class="centered striped">
                <thead>
                <tr>
                    <th class="hide-on-small-and-down">{{ 'label.id'|trans }}</th>
                    <th>{{ 'label.username'|trans }}</th>
                    <th>{{ 'label.role'|trans }}</th>
                    <th class="hide-on-med-and-down">{{ 'label.email'|trans }}</th>
                    <th>{{ 'label.disk_space_used'|trans }}</th>
                    <th>{{ 'label.disk_space_allowed'|trans }}</th>
                    <th class="hide-on-small-and-down">{{ 'label.last_date_of_activity'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="hide-on-small-and-down">{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ getRoleLabel(user.roles[0])|trans }}</td>
                            <td class="hide-on-med-and-down">{{ user.email }}</td>
                            <td>{{ getSpaceUsedByUser(user)|bytes }}</td>
                            <td>{{ user.diskSpaceAllowed|bytes }}</td>
                            <td class="hide-on-small-and-down" title="{{ user.lastDateOfActivity|date(app.user.dateFormat|default('Y-m-d'), app.user.timezone|default('UTC')) }}">{{ user.lastDateOfActivity ? user.lastDateOfActivity|dateAgo : '-' }}</td>
                            <td class="table-actions">
                                <a title="{{ 'tooltip.edit'|trans }}" href="{{ path('app_admin_user_edit', {id : user.id}) }}">
                                    <i class="fa fa-pencil fa-fw"></i>
                                </a>
                                {% if false == user.isAdmin() %}
                                    <a title="{{ 'tooltip.delete'|trans }}" href="{{ path('app_admin_user_delete', {id : user.id}) }}">
                                        <i class="fa fa-trash fa-fw"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
