{% extends 'layout-autorized.html.twig' %}

{% set breadcrumb = buildBreadcrumb([
    {'route': 'app_admin_index', 'trans': 'menu.admin'},
    {'route': 'app_admin_user_index', 'trans': 'menu.users'}
]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
            <h1>{{ 'menu.admin'|trans }}</h1>
        </div>

        <div class="content-block">
            {{ include('/App/Admin/tabs.html.twig', {current: 'users'}) }}
            <div class="block-element">
                <h5 class="header">{{ 'title.users'|trans }}</h5>
                <table class="centered striped">
                    <thead>
                    <tr>
                        <th>{{ 'label.username'|trans }}</th>
                        <th>{{ 'label.role'|trans }}</th>
                        <th>{{ 'label.disk_space_used'|trans }}</th>
                        <th>{{ 'label.disk_space_allowed'|trans }}</th>
                        <th>{{ 'label.last_connection'|trans }}</th>
                        <th>{{ 'label.actions'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{ result.user.username }}</td>
                            <td>{{ getRoleLabel(result.user.roles[0])|trans }}</td>
                            <td>{{ result.user.diskSpaceUsed|bytes }}</td>
                            <td>{{ result.user.diskSpaceAllowed|bytes }}</td>
                            <td>{{ result.lastConnectionDate ? result.lastConnectionDate|timeAgo : '-' }}</td>
                            <td>
                                <a class="waves-effect waves-light btn" href="{{ path('app_admin_user_show', {id : result.user.id}) }}">
                                    <i class="fa fa-search fa-fw"></i>
                                    {{ 'btn.details'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
