{% extends 'layout.html.twig' %}
{% set breadcrumb = buildBreadcrumb([{'route': 'app_sign_index', 'trans': 'menu.signs'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block meta %}
    {% if context == 'user'  %}
        {{ include('App/_partials/_meta.html.twig', {
            'title': renderTitle(breadcrumb),
            'description': 'menu.collections_user'|trans({'%username%':  app.request.get('username')})
        }) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.signs'|trans() }}</h1>
        <ul class="nav nav-pills">
            <li>{{ 'counter.signs'|trans({'%count%': signs|length}) }}</li>
        </ul>
    </div>

    <div></div>

    <div class="btn-holder">
        {% if context == 'default' %}
            <i data-target="modal-share" class="button btn-share modal-trigger fa fa-share fa-fw" title="{{ 'tooltip.share'|trans }}"></i>
        {% endif %}
    </div>

    <div class="content-block">
        <div id="collection-items" class="grid-container-items" {{ stimulus_controller('lightbox') }}>
            {% for sign in signs %}
                <a class="collection-item element valign-wrapper"
                   href="{{ preload(asset(sign.image), {nopush: true}) }}"
                   data-lightbox-target="image"
                   data-sub-html="{{ sign.item.name }} - {{ sign.label }}"
                   data-show-url="{{ path('app_item_show'|applyContext, {'id': sign.item.id}) }}"
                >
                    <div class="image-wrapper placeholder" {{ stimulus_controller('lazy-loading') }}>
                        <img data-src="{{ preload(asset(sign.imageSmallThumbnail|default('build/images/default.png')), {nopush: true}) }}"
                             data-lazy-loading-target="image"
                             aria-label="{{ 'aria.datum_sign_thumbnail'|trans({'%label%': sign.label}) }}"
                        >
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% if context == 'default' %}
        {{ include('App/_partials/_modal/_share.html.twig', {'route': url('app_user_sign_index', {username: app.user.username})}) }}
    {% endif %}
{% endblock %}

