{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_tag_category_index', 'trans': 'menu.tag_categories'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.tag_categories'|trans }}</h1>
        <ul class="nav nav-pills">
            <li>{{ 'counter.tag_categories'|trans({'%count%': categoriesCount}) }}</li>
        </ul>
    </div>

    <div></div>

    <div class="btn-holder">
    </div>

    <div class="content-block">
        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m0">
                <a href="{{ path('app_tag_category_add') }}" class="btn waves-effect waves-light">
                    <i class="fa fa-plus fa-fw"></i>{{ 'btn.add_category'|trans }}
                </a>
            </div>
        </div>

        <div>
            <table class="centered striped">
                <thead>
                <tr>
                    <th>{{ 'label.label'|trans }}</th>
                    <th>{{ 'label.description'|trans }}</th>
                    <th>{{ 'label.color'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% for category in categories %}
                    <tr class="list-element resize-element" data-title="{{ category.label }}">
                        <td>
                            <strong><a href="{{ path('app_tag_category_show', {'id' : category.id}) }}">{{ category.label|truncate(50) }}</a></strong>
                        </td>
                        <td>{{ category.description|truncate(50) }}</td>
                        <td><span class="list-color" style="background-color: {{ category.color }}" title="{{ category.label }}"></span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ include('App/_partials/pagination.html.twig', {paginator: paginator}) }}
        </div>
    </div>
{% endblock %}

