<li>
    <form class="search" name="search" method="get" data-autocomplete-url="/user/{{ getContextUser().getUsername() }}/search/autocomplete/" action="{{ path('app_shared_search_index') }}" data-controller="search">
        <div>
            <input id="search_term"
                   data-action="keyup->search#search click->search#open"
                   name="search[term]"
                   type="search"
                   class="search-input placeholder"
                   placeholder="{{ 'menu.search'|trans }}"
                   autocomplete="off"
            >
        </div>
        <ul class="autocomplete-results hidden" data-search-target="resultsWrapper"></ul>
    </form>
</li>

<li class="{{ 'app_shared_collection' in route or 'app_shared_item' in route ? 'current' }} sidebar-element">
    <a
            href="{{ path('app_shared_collection_index') }}">
        <i
                class="fa fa-archive fa-fw"></i>
        <span>{{ 'menu.collections'|trans }}</span>
    </a>
</li>

{% if isFeatureEnabled('wishlists') %}
    <li class="{{ 'app_shared_wishlist' in route ? 'current' }} sidebar-element">
        <a href="{{ path('app_shared_wishlist_index') }}">
            <i
                    class="fa fa-heart fa-fw"></i>
            <span>{{ 'menu.wishlists'|trans }}</span>
        </a>
    </li>
{% endif %}

{% if isFeatureEnabled('tags') %}
    <li class="{{ 'app_shared_tag' in route ? 'current' }} sidebar-element">
        <a href="{{ path('app_shared_tag_index') }}">
            <i
                    class="fa fa-tags fa-fw"></i>
            <span>{{ 'menu.tags'|trans }}</span>
        </a>
    </li>
{% endif %}

{% if isFeatureEnabled('signs') %}
    <li class="{{ 'app_shared_sign' in route ? 'current' }} sidebar-element">
        <a
                href="{{ path('app_shared_sign_index') }}">
            <i class="fa fa-leaf fa-fw"></i>
            <span>{{ 'menu.signs'|trans }}</span>
        </a>
    </li>
{% endif %}

{% if isFeatureEnabled('albums') %}
    <li class="{{ 'app_shared_album' in route ? 'current' }} sidebar-element">
        <a href="{{ path('app_shared_album_index') }}">
            <i
                    class="fa fa-camera fa-fw"></i>
            <span>{{ 'menu.albums'|trans }}</span>
        </a>
    </li>
{% endif %}

{% if isFeatureEnabled('statistics') %}
    <li class="{{ 'app_shared_statistics' in route ? 'current' }} sidebar-element">
        <a href="{{ path('app_shared_statistics_index') }}">
            <i
                    class="fa fa-area-chart fa-fw"></i>
            <span>{{ 'menu.statistics'|trans }}</span>
        </a>
    </li>
{% endif %}


{% if app.user and context == 'shared' %}
    <li class="separate-item sidebar-element">
        <div></div>
    </li>
    <li class="sidebar-element">
        <a href="{{ path('app_homepage') }}">
            <i
                    class="fa fa-sign-out fa-fw fa-rotate-180"></i>
            <span>{{ 'menu.return_to_user_collection'|trans }}</span>
        </a>
    </li>
{% endif %}