<li class="{{ 'app_user_collection' in route or 'app_user_item' in route ? 'current' }} sidebar-element"><a href="{{ path('app_user_collection_index') }}"><i class="fa fa-archive fa-fw"></i><span>{{ 'menu.collections'|trans }}</span></a></li>

{% if isFeatureEnabled('wishlists') %}
    <li class="{{ 'app_user_wishlist' in route ? 'current' }} sidebar-element">
        <a href="{{ path('app_user_wishlist_index') }}"><i class="fa fa-heart fa-fw"></i><span>{{ 'menu.wishlists'|trans }}</span></a>
    </li>
{% endif %}

{% if isFeatureEnabled('tags') %}
    <li class="{{ 'app_user_tag' in route ? 'current' }} sidebar-element">
        <a href="{{ path('app_user_tag_index') }}"><i class="fa fa-tags fa-fw"></i><span>{{ 'menu.tags'|trans }}</span></a>
    </li>
{% endif %}

{% if isFeatureEnabled('signs') %}
    <li class="{{ 'app_user_sign' in route ? 'current' }} sidebar-element"><a href="{{ path('app_user_sign_index') }}">
            <i class="fa fa-leaf fa-fw"></i><span>{{ 'menu.signs'|trans }}</span></a>
    </li>
{% endif %}

{% if isFeatureEnabled('albums') %}
    <li class="{{ 'app_user_album' in route ? 'current' }} sidebar-element">
        <a href="{{ path('app_user_album_index') }}"><i class="fa fa-camera fa-fw"></i><span>{{ 'menu.albums'|trans }}</span></a>
    </li>
{% endif %}

{% if isFeatureEnabled('statistics') %}
    <li class="{{ 'app_user_statistics' in route ? 'current' }} sidebar-element">
        <a href="{{ path('app_user_statistics_index') }}"><i class="fa fa-area-chart fa-fw"></i><span>{{ 'menu.statistics'|trans }}</span></a>
    </li>
{% endif %}
