<div class="row value" data-choice-list-value-target="value">
    <div class="input-field col s10">
        <input type="text" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" required>
        <label for="{{ form.vars.full_name }}" class="required">{{ 'label.choice'|trans }}</label>
    </div>
    <div class="col s1 icon-holder">
        <i class="fa fa-remove fa-fw removeDatum" data-action="click->choice-list-value#remove"></i>
    </div>
</div>
