{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([
    {'route': 'app_admin_index', 'trans': 'menu.admin'},
    {'route': 'app_admin_index', 'trans': 'menu.statistics'}
]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.admin'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ include('/App/Admin/tabs.html.twig', {current: 'statistics'}) }}
        <div class="block-element">
            <h5 class="header">{{ 'title.statistics'|trans }}</h5>
            <div class="row statistics">
                <div class="col s2">
                    <div class="pie-wrapper">
                        {% set percent = ((totalSpace - freeSpace) * 100 / totalSpace)|round(0, 'floor') %}
                        <span class="label">{{ percent }}<span class="smaller">%</span></span>
                        <div class="pie {{ percent > 50 ? 'above50' : '' }}">
                            <div class="left-side half-circle" style="-webkit-transform: rotate({{ percent*360/100 }}deg); transform: rotate({{ percent*360/100 }}deg);"></div>
                            <div class="right-side half-circle"></div>
                        </div>
                        <div class="shadow"></div>
                    </div>
                    <div class="pie-stat">
                        <div>{{ 'label.space_used'|trans({'%used%' : (totalSpace - freeSpace)|bytes, '%total%': totalSpace|bytes}) }}</div>
                        <div>{{ 'label.space_free'|trans({'%free%' : freeSpace|bytes}) }}</div>
                    </div>
                </div>
                <div class="col s2"><div class="counter">{{ getVersion() }}</div>{{ 'label.version'|trans }}</div>
                <div class="col s2"><div class="counter">{{ counters.users }}</div>{{ 'counter.without_number.users'|trans({'%count%': counters.users}) }}</div>
                <div class="col s2"><div class="counter">{{ counters.collections }}</div>{{ 'counter.without_number.collections'|trans({'%count%': counters.collections}) }}</div>
                <div class="col s2"><div class="counter">{{ counters.items }}</div>{{ 'counter.without_number.items'|trans({'%count%': counters.items}) }}</div>
                <div class="col s2"><div class="counter">{{ counters.tags }}</div>{{ 'counter.without_number.tags'|trans({'%count%': counters.tags}) }}</div>
                <div class="col s2"><div class="counter">{{ counters.wishlists }}</div>{{ 'counter.without_number.wishlists'|trans({'%count%': counters.wishlists}) }}</div>
                <div class="col s2"><div class="counter">{{ counters.wishes }}</div>{{ 'counter.without_number.wishes'|trans({'%count%': counters.wishes}) }}</div>
                <div class="col s2"><div class="counter">{{ totalSpaceUsed|bytes }}</div>{{ 'label.space_used_by_koillection'|trans }}</div>
            </div>
        </div>

        <div class="block-element">
            <h5 class="header">{{ 'title.tools'|trans }}</h5>
            <div class="row">
                <a href="{{ path('app_admin_clean') }}" class="btn waves-effect waves-light">
                    <i class="fa fa-trash fa-fw"></i>{{ 'btn.clean_unused_files'|trans }}
                </a>
                <a href="{{ path('app_admin_backup') }}" class="btn waves-effect waves-light">
                    <i class="fa fa-save fa-fw"></i>{{ 'btn.backup'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
