<span data-value="{{ datum.value }}"></span>

<div class="star-rating">
    {% for i in 10 .. 1 %}
        {% set isHalf = loop.index % 2 == 0 %}
        <label class="star-rating-view {{ isHalf ? 'is-half' }} {{ i <= datum.value ? 'colored"' }}" for="rating-{{ i }}">
            <svg class="icon {{ isHalf ? 'icon-star-half' : 'icon-star' }}">
                <use xlink:href="{{ isHalf ? '#icon-star-half' : '#icon-star' }}"></use>
            </svg>
        </label>
    {% endfor %}
</div>