<!doctype html>
<html dir="ltr" lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{% block description %}{{ 'meta.description'|trans }}{% endblock %}">
    <title>{% block title %}Koillection{% endblock %}</title>

    {% block meta %}
        {{ include('App/_partials/_meta.html.twig') }}
    {% endblock %}

    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <meta name="theme-color" content="#009688">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags(app.user and app.user.isInDarkMode ? 'dark-mode' : 'light-mode') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="
        {{ is_granted('IS_AUTHENTICATED_REMEMBERED') == false and context == 'default' ? 'unauthorized ' }}
        {{ app.request.cookies.get('sidebar_collapsed') ? 'collapsed ' }}
        {{ status_code is defined ? 'error ' }}
    ">

    {% block body %}{% endblock %}
    <div id="settings"
         data-theme="{{ app.user and app.user.isInDarkMode ? 'dark' : 'light' }}"
         data-date-format="{{ app.user.dateFormatForJs|default('yyyy-mm-dd') }}"
    ></div>
    <div id="offline-message" {{ stimulus_controller('offline-message')}} data-action="online@window->offline-message#hide offline@window->offline-message#show" class="valign-wrapper hidden"><span>{{ 'message.offline'|trans }}</span></div>
</body>
</html>
