{% extends 'base.html.twig' %}

{% block body %}
    {# Breadcrumb #}
    <header class="expanded">
        {% block breadcrumb %}{% endblock %}
    </header>

    <div class="sidebar-expanded">
        <div class="sidebar-wrapper nicescroll">
            <div class="header-logo">
                <a href="{{ path('app_homepage') }}">
                    <img class='logo' src="{{ preload(asset('../build/images/logo.svg')) }}" aria-label="Logo" height="45" width="45">
                    <span>Koillection</span>
                </a>
            </div>
            {% set route = app.request.get('_route') %}
            <ul class="nav nav-sidebar">
                <li class="{{ 'app_homepage' == route or 'app_collection' in route or 'app_item' in route ? 'current' }}"><a href="{{ path('app_collection_index') }}"><i class="fa fa-archive fa-fw"></i><span>{{ 'menu.collections'|trans }}</span></a></li>
                <li class="{{ 'app_wishlist' in route or 'app_wish' in route ? 'current' }}"><a href="{{ path('app_wishlist_index') }}"><i class="fa fa-heart fa-fw"></i><span>{{ 'menu.wishlists'|trans }}</span></a></li>
                <li class="{{ 'app_tag' in route ? 'current' }}"><a href="{{ path('app_tag_index') }}"><i class="fa fa-tags fa-fw"></i><span>{{ 'menu.tags'|trans }}</span></a></li>
                {% if app.user.signsCount > 0 %}
                    <li class="{{ 'app_sign' in route ? 'current' }}"><a href="{{ path('app_sign_index') }}"><i class="fa fa-leaf fa-fw"></i><span>{{ 'menu.signs'|trans }}</span></a></li>
                {% endif %}
                <li class="{{ 'app_album' in route ? 'current' }}"><a href="{{ path('app_album_index') }}"><i class="fa fa-camera fa-fw"></i><span>{{ 'menu.albums'|trans }}</span></a></li>
                <li class="{{ 'app_loan' in route ? 'current' }}"><a href="{{ path('app_loan_index') }}"><i class="fa fa-exchange fa-fw"></i><span>{{ 'menu.loans'|trans }}</span></a></li>
                <li class="{{ 'app_template' in route ? 'current' }}"><a href="{{ path('app_template_index') }}"><i class="fa fa-clone fa-fw"></i><span>{{ 'menu.templates'|trans }}</span></a></li>
                <li class="separate-item"><div></div></li>
                <li class="{{ 'app_history' in route ? 'current' }}"><a href="{{ path('app_history_index', {'types': ['item']}) }}"><i class="fa fa-history fa-fw"></i><span>{{ 'menu.history'|trans }}</span></a></li>
                <li class="{{ 'app_statistics' in route ? 'current' }}"><a href="{{ path('app_statistics_index') }}"><i class="fa fa-area-chart fa-fw"></i><span>{{ 'menu.statistics'|trans }}</span></a></li>
                <li class="{{ 'app_search' in route ? 'current' }}"><a href="{{ path('app_search_index') }}"><i class="fa fa-search fa-fw"></i><span>{{ 'menu.search'|trans }}</span></a></li>
                <li class="separate-item"><div></div></li>
                <li class="{{ 'app_settings' in route ? 'current' }}"><a href="{{ path('app_settings_index') }}"><i class="fa fa-cogs fa-fw"></i><span>{{ 'menu.settings'|trans }}</span></a></li>
                <li class="{{ 'app_profile' in route ? 'current' }}"><a href="{{ path('app_profile_index') }}"><i class="fa fa-user fa-fw"></i><span>{{ 'menu.profile'|trans }}</span></a></li>
                <li class="separate-item"><div></div></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="{{ 'app_admin' in route or 'translation' in route ? 'current' }}"><a href="{{ path('app_admin_index') }}"><i class="fa fa-eye fa-fw"></i><span>{{ 'menu.admin'|trans }}</span></a></li>
                {% endif %}
                <li><a href="{{ path('app_security_logout') }}"><i class="fa fa-power-off fa-fw"></i><span>{{ 'menu.logout'|trans }}</span></a></li>
            </ul>
        </div>

        <div class="main content-wrapper">
            <div class="container-fluid container-limited">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <script nonce="{{ csp_nonce() }}">Materialize.toast("{{ flash_message|safeContent }}", 5000)</script>
    {% endfor %}
{% endblock %}
