{% extends 'base.html.twig' %}

{% block body %}
    <header class="unauthorized">
        <div class="header-logo">
            <a href="{{ path('app_security_front') }}">
                <img class='logo' src="{{ preload(asset('../build/images/logo.svg')) }}" aria-label="Logo" height="45" width="45">
                <span>Koillection</span>
            </a>
        </div>
        <a class="header-link" href="{{ path('app_security_login') }}">{{ 'btn.login'|trans }}</a>
    </header>


        {% block content %}{% endblock %}


    <footer class="page-footer">
        <div class="container">
            {% if app.request.attributes.get('_route') != "" %}
                <ul>
                    <li class="footer-icon"><i class="fa fa-language fa-fw"></i></li>
                    <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'en'})) }}"><span>EN</span></a></li>
                    <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'fr'})) }}"><span>FR</span></a></li>
                </ul>
            {% endif %}
        </div>
    </footer>
{% endblock %}
