{% extends 'base.html.twig' %}

{% block body %}
    <div class="app">
        {% set route = app.request.get('_route') %}
        <div class="sidebar-wrapper">
            <div class="nav-wrapper">
                <div class="header-logo">
                    <a href="{{ path('app_homepage'|applyContext) }}">
                        <img class='logo' src="{{ preload(asset('build/images/logo.svg'), { as: 'image'}) }}" aria-label="Logo" height="45" width="45">
                        <span>Koillection</span>
                    </a>
                </div>
            </div>

            <div class="scrollable">
                <div class="nav-wrapper">
                    <ul class="nav nav-sidebar">
                        {% include 'App/_partials/_nav/_' ~ context ~ '.html.twig' %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="main content-wrapper" {{ stimulus_controller('burgermenu') }}>
            <div class="mobile-overlay" data-action="click->burgermenu#hide"></div>
            <header class="expanded">
                <div class="breadcrumb-wrapper">
                    <div class="burger-menu">
                        <i class="fa fa-bars fa-fw" data-action="click->burgermenu#display"></i>
                    </div>
                    {% block breadcrumb %}{% endblock %}
                </div>

                {% if app.user %}
                    <div class="header-profile" {{ stimulus_controller('profile') }}>
                        <span data-action="click->profile#show">
                            {% if app.user.avatar != null %}
                                <img class="user-avatar" src="{{ preload(asset(app.user.avatar), {as: 'image'}) }}">
                            {% else %}
                                <span class="user-avatar circle avatar">{{ app.user.username|first|upper }}</span>
                            {% endif %}
                            <span class="down-background"></span>
                            <i class="fa fa-chevron-down fa-fw"></i>
                        </span>

                        <ul class="profile-menu collection hidden" data-profile-target="menu">
                            <li class="collection-item"><a href="{{ path('app_profile_index') }}"><i class="fa fa-user fa-fw"></i><span>{{ 'menu.profile'|trans }}</span></a></li>
                            <li class="collection-item"><a href="{{ path('app_settings_index') }}"><i class="fa fa-gears fa-fw"></i><span>{{ 'menu.settings'|trans }}</span></a></li>
                            <li class="collection-item"><a href="{{ path('app_tools_index') }}"><i class="fa fa-wrench fa-fw"></i><span>{{ 'menu.tools'|trans }}</span></a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="collection-item"><a href="{{ path('app_admin_index') }}"><i class="fa fa-eye fa-fw"></i><span>{{ 'menu.admin'|trans }}</span></a></li>
                            {% endif %}
                            <li class="collection-item"><a href="{{ path('app_security_logout') }}"><i class="fa fa-power-off fa-fw"></i><span>{{ 'menu.logout'|trans }}</span></a></li>
                        </ul>
                    </div>
                {% endif %}
            </header>

            <div class="container-fluid container-limited">
                {% block content %}{% endblock %}
            </div>
            {% block footer %}{% endblock %}
        </div>
    </div>

    {% if context == 'default' %}
        {{ include('App/_partials/_modal/_delete.html.twig') }}
        {{ include('App/_partials/_modal/_share.html.twig') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <span {{ stimulus_controller('toast') }} data-message="{{ flash_message|e }}"></span>
    {% endfor %}
{% endblock %}
