{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if false == is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <link type="text/css" rel="stylesheet" href="{{ preload(asset('build/css/themes/teal.css')) }}"  media="screen"/>
    {% endif %}
{% endblock %}

{% block body %}
    {# Breadcrumb #}
    <header class="expanded">
        {% block breadcrumb %}{% endblock %}
    </header>

    <div class="sidebar-expanded">
        <div class="sidebar-wrapper nicescroll">
            <div class="header-logo">
                <a href="{{ path('app_homepage') }}">
                    <img class='logo' src="{{ preload(asset('../build/images/logo.svg')) }}" aria-label="Logo" height="45" width="45">
                    <span>Koillection</span>
                </a>
            </div>
            {% set route = app.request.get('_route') %}
            <ul class="nav nav-sidebar">
                <li class="{{ route matches '{^app_user_(collection|collections|item)$}' ? 'current' }}"><a href="{{ path('app_user_collections', {username: user.username}) }}"><i class="fa fa-archive fa-fw"></i><span>{{ 'menu.collections'|trans }}</span></a></li>
                <li class="{{ 'app_user_wishlist' in route ? 'current' }}"><a href="{{ path('app_user_wishlists', {username: user.username}) }}"><i class="fa fa-heart fa-fw"></i><span>{{ 'menu.wishlists'|trans }}</span></a></li>
                <li class="{{ 'app_user_tag' in route ? 'current' }}"><a href="{{ path('app_user_tags', {username: user.username}) }}"><i class="fa fa-tags fa-fw"></i><span>{{ 'menu.tags'|trans }}</span></a></li>
                <li class="{{ 'app_user_album' in route ? 'current' }}"><a href="{{ path('app_user_albums', {username: user.username}) }}"><i class="fa fa-camera fa-fw"></i><span>{{ 'menu.albums'|trans }}</span></a></li>
                {% if user.signsCount > 0 %}
                    <li class="{{ 'app_user_signs' in route ? 'current' }}"><a href="{{ path('app_user_signs', {username: user.username}) }}"><i class="fa fa-leaf fa-fw"></i><span>{{ 'menu.signs'|trans }}</span></a></li>
                {% endif %}
                <li class="{{ 'app_user_statistics' in route ? 'current' }}"><a href="{{ path('app_user_statistics', {username: user.username}) }}"><i class="fa fa-area-chart fa-fw"></i><span>{{ 'menu.statistics'|trans }}</span></a></li>
            </ul>
        </div>

        <div class="content-wrapper">
            <div class="container-fluid container-limited">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
