{% macro lazyImage(src, aria = null, tooltip = null, classes = "") %}
<div class="image-wrapper placeholder {{ classes }}">
    <img data-src="{{ asset(src) }}"
         {% if tooltip is not null %} {{ stimulus_controller('tooltip') }} data-position="bottom" data-tooltip="{{ tooltip }}" {% endif %}
         {% if aria is not null %} aria-label="{{ aria }}" {% endif %}
    >
</div>
{% endmacro %}
