{% import "App/macros.html.twig" as macros %}

<div class="collection-element element" data-title="{{ collection.title }}">
    <a class="collection-circle-thumbnail" href="{{ path('app_collection_show'|applyContext, {'id': collection.id}) }}" aria-label="{{ 'aria.collection'|trans({'%title%': collection.title}) }}">
        {% if collection.image != null %}
            {{ macros.lazyImage(collection.image.path, null, null, 'placeholder-circle') }}
        {% else %}
            <span class="color-avatar circle avatar color-{{ collection.color }}">{{ collection.title|first|upper }}</span>
        {% endif %}
    </a>
    <span class="collection-title">{{ collection.title|truncate(27) }}</span>
    <p class="collection-stats">
        {{ 'counter.item'|transchoice(counters[collection.id].items) }}
    </p>
</div>
