<div id="scrap" data-controller="modal--default" class="modal modal-custom" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title"></span>{{ 'title.scrap'|trans }}
            </div>
            <div>
                {{ form_start(scrapingForm, {'attr': { 'id': 'scraping', 'data-action': 'submit->scraping#scrap'} }) }}
                <div class="modal-body">
                    {% if scrapedFromUrl is defined and scrapedFromUrl is not null %}
                        <div class="row">
                            <div class="s12 scrapped-url">
                                {{ 'label.scraped_from_url'|trans }} : <a target="_blank" href="{{ scrapedFromUrl }}">{{ scrapedFromUrl }}</a>
                            </div>
                        </div>
                        <br>
                    {% endif %}

                    <div data-scraping-target="form">
                        {{ include('App/Scraper/item/_scraping_form.html.twig') }}
                    </div>

                    <div class="row" data-scraping-target="dataToScrapContainer">
                        {% if scrapingForm.dataToScrap is defined %}
                            {{ form_row(scrapingForm.dataToScrap) }}
                        {% endif %}
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="right">
                        <button type="submit" form="scraping" class="btn waves-effect waves-light">{{ 'btn.scrap'|trans }}</button>
                        <a data-scraping-target="modalCloseButton" class="modal-close waves-effect waves-light btn btn-cancel">{{ 'btn.cancel'|trans }}</a>
                    </div>
                </div>
                {{ form_end(scrapingForm) }}
            </div>
        </div>
    </div>
</div>