{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([
    {'route': 'app_admin_index', 'trans': 'menu.admin'},
    {'route': 'app_admin_configuration_index', 'trans': 'menu.configuration'}
]) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.admin'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ include('/App/Admin/tabs.html.twig', {current: 'configuration'}) }}

        <h2 class="header">{{ 'title.edit_configuration'|trans }}</h2>

        <div class="form">
            {{ form_start(form) }}
                <div class="row">
                    <div class="s12 l5 offset-l1 xl4 offset-xl2">
                        {{ form_row(form.thumbnailsFormat.value, {'label' : 'label.thumbnails_format', 'attr': {'data-controller': 'select--default'}}) }}
                    </div>
                </div>

                <h3 class="header">{{ 'title.custom_css'|trans }}</h3>

                <div class="row">
                    <div class="s12 l10 offset-l1 xl8 offset-xl2">
                        {{ form_row(form.customLightThemeCss.value, {
                            'label' : 'label.custom_light_theme_css',
                            'attr' : {'class': 'materialize-textarea code-textarea', 'data-controller': 'textarea'}}
                        ) }}
                    </div>

                    <div class="s12 l10 offset-l1 xl8 offset-xl2">
                        {{ include('App/_partials/_modal/_custom_css_help.html.twig', {
                            id: 'modal-light-theme',
                            title: 'title.customize_light_theme'|trans,
                            code: getDefaultLightThemeColors()
                        }) }}

                        <div class="btn-holder right">
                            <a href="#modal-light-theme" class="modal-trigger">
                                {{ 'message.show_help_for_light_theme'|trans }}
                            </a>
                        </div>
                        <br><br>
                    </div>
                </div>

                <div class="row">
                    <div class="s12 l10 offset-l1 xl8 offset-xl2">
                        {{ form_row(form.customDarkThemeCss.value, {
                            'label' : 'label.custom_dark_theme_css',
                            'attr' : {'class': 'materialize-textarea code-textarea', 'data-controller': 'textarea'}}
                        ) }}
                    </div>

                    <div class="s12 l10 offset-l1 xl8 offset-xl2">
                        {{ include('App/_partials/_modal/_custom_css_help.html.twig', {
                            id: 'modal-dark-theme',
                            title: 'title.customize_dark_theme'|trans,
                            code: getDefaultDarkThemeColors()
                        }) }}

                        <div class="btn-holder right">
                            <a href="#modal-dark-theme" class="modal-trigger">
                                {{ 'message.show_help_for_dark_theme'|trans }}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="center-align form-btn-holder">
                    <button name="submit" type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
