{% set values = datum.value|default(null)|jsonDecode %}
<div class="input-field s10 offset-s1 m5 datum-input-field">
    <select id="data_{{ iteration }}_value" name="{{ entity }}[data][{{ iteration }}][value][]"
            data-controller="select--default" data-select-target="select" multiple="multiple" data-additional-data-target="value">
        {% for choice in choiceList.choices %}
            <option value="{{ choice }}"
                    {% if datum is defined and choice in values %}selected{% endif %}>
                {{ choice }}
            </option>
        {% endfor %}
    </select>
    <label for="data_{{ iteration }}_value">{{ 'label.value'|trans }}</label>
</div>