<div class="input-field col s5">
    <select id="data_{{ iteration }}_value" name="{{ entity }}[data][{{ iteration }}][value]" {{ stimulus_controller('select--country') }}>
        <option value="" {% if datum is not defined %}selected{% endif %}>
        {% for country in getCountriesList() %}
            <option value="{{ country.code }}" data-flag="{{ country.flag }}" {% if datum is defined and datum.value == country.code %}selected{% endif %}>
                {{ country.name }}
            </option>
        {% endfor %}
    </select>
    <label for="data_{{ iteration }}_value" class="required {% if datum is defined %}active{% endif %}">{{ 'label.value'|trans }}</label>
</div>