<div class="input-field col s5">
    <select id="data_{{ iteration }}_value" name="{{ entity }}[data][{{ iteration }}][value]" data-controller="selectCountry">
        <option value="" {% if datum is not defined %}selected{% endif %}>
        {% for code, name in getCountriesList() %}
            <option value="{{ code }}" {% if datum is defined and datum.value == code %}selected{% endif %}>
                <span class="flag-{{ code|lower }}"></span>
                {{ name }}
            </option>
        {% endfor %}
    </select>
    <label for="data_{{ iteration }}_value" class="required {% if datum is defined %}active{% endif %}">{{ 'label.value'|trans }}</label>
</div>