<div class="input-field outlined col s5">
    <input type="text"
           data-controller="datepicker"
           id="data_{{ iteration }}_value"
           name="{{ entity }}[data][{{ iteration }}][value]"
           maxlength="255"
           {% if datum is defined %}value="{{ datum.value ? datum.value|date(app.user.dateFormat|default('Y-m-d')) : '' }}"{% endif %}
           placeholder=" "
           data-initial-value="{{ datum.value|default('') }}"
    >
    <label for="data_{{ iteration }}_value" class="{% if datum is defined %}active{% endif %}">{{ 'label.value'|trans }}</label>
</div>