<div class="input-field outlined s10 m5 datum-input-field" data-controller="datepicker">
    <input type="text"
           id="data_{{ iteration }}_value"
           name="{{ entity }}[data][{{ iteration }}][value]"
           maxlength="255"
           {% if datum is defined %}value="{{ datum.value ? datum.value|date(app.user.dateFormat|default('Y-m-d')) : '' }}"{% endif %}
           placeholder=" "
           data-initial-value="{{ datum.value|default('') }}"
           data-datepicker-target="input"
           pattern="{{ getValidationRegexForDateFormat(app.user.dateFormat) }}"
           data-additional-data-target="value"
    >
    <label for="data_{{ iteration }}_value" class="{% if datum is defined %}active{% endif %}">{{ 'label.value'|trans }} ({{ app.user.dateFormatForJs }})</label>
    <i class="fa fa-calendar fa-fw" data-action="click->datepicker#open"></i>
</div>