{% set hasChoiceList = choiceList is defined and choiceList is not null %}

<div {% if template is defined %} data-template="{{ template.name }}"{% endif %} class="datum row" data-additional-data-target="datum">
    <div class="col s12 l10 offset-l1 xl6 offset-xl3 row">
        <div class="col s1 handle icon-holder handle">
            <i class="fa fa-arrows-v fa-fw"></i>
        </div>

        <div class="input-field outlined col s1 label hide-on-med-and-down hidden">
            <span class="complementary-color">{{ ('label.' ~ type)|trans }}</span>
            <input type="hidden"
                   id="data_{{ iteration }}_type"
                   name="{{ entity }}[data][{{ iteration }}][type]"
                   maxlength="255"
                   value="{{ type }}"
            >
        </div>

        <div class="input-field outlined col s5 item-label">
            <input
                    type="text"
                    id="data_{{ iteration }}_label"
                    name="{{ entity }}[data][{{ iteration }}][label]"
                    maxlength="255"
                    data-additional-data-target="label"
                    required
                    value="{{ label }}"
                    placeholder=" "
            >
            <label for="data_{{ iteration }}_label" class="required {% if label is not null %}active{% endif %}">
                {{ 'label.label'|trans }}
            </label>
        </div>

        {{ include('App/Datum/_' ~ type ~ '.html.twig') }}

        <div class="col s1 icon-holder">
            <i class="fa fa-remove fa-fw removeDatum" data-action="click->additional-data#remove"></i>
        </div>

        <div class="input-field">
            <input class="position"
                   type="hidden"
                   id="data_{{ iteration }}_position"
                   name="{{ entity }}[data][{{ iteration }}][position]"
                   maxlength="255"
                   {% if datum is defined %}value="{{ datum.position }}"{% endif %}
            >
        </div>

        {% if hasChoiceList %}
            <div class="input-field">
                <input type="hidden"
                       id="data_{{ iteration }}_choiceList"
                       name="{{ entity }}[data][{{ iteration }}][choiceList]"
                       maxlength="255"
                       value="{{ choiceList.id }}"
                >
            </div>
        {% endif %}
    </div>
</div>
