{% set hasChoiceList = choiceList is defined and choiceList is not null %}

<div {% if template is defined %} data-template="{{ template.name }}"{% endif %} class="datum row"
                                                                                 data-additional-data-target="datum"
                                                                                 data-iteration="{{ iteration }}">
    <div class="s12 l10 offset-l1 xl8 offset-xl2 row">
        <input type="hidden"
               id="data_{{ iteration }}_type"
               name="{{ entity }}[data][{{ iteration }}][type]"
               maxlength="255"
               value="{{ type }}"
        >

        <div class="s1 handle icon-holder">
            <i class="fa fa-arrows-v fa-fw"></i>
        </div>

        <div class="s10 m4">
            <div class="input-field outlined ">
                <input
                        type="text"
                        id="data_{{ iteration }}_label"
                        name="{{ entity }}[data][{{ iteration }}][label]"
                        maxlength="255"
                        data-additional-data-target="label"
                        required
                        value="{{ label }}"
                        placeholder=" "
                >
                <label for="data_{{ iteration }}_label" class="required {% if label is not null %}active{% endif %}">
                    {{ 'label.label'|trans }}
                </label>
            </div>
        </div>

        <div class="s1 hide-on-med-and-up"></div>
        <div class="s1 hide-on-med-and-up"></div>

        {{ include('App/Datum/_' ~ type ~ '.html.twig') }}

        <div class="s1 input-field outlined">
            <select id="data_{{ iteration }}_visibility"
                    name="{{ entity }}[data][{{ iteration }}][visibility]"
                    data-controller="select--compact-visibility"
            >
                {% for availableVisibility in ['public', 'internal', 'private'] %}
                    <option title="{{ ('global.visibilities.' ~ availableVisibility ~ '.description')|trans([], 'javascript') }}"
                            value="{{ availableVisibility }}"
                            {% if visibility == availableVisibility %}selected="selected"{% endif %}
                    >
                        {{ ('global.visibilities.' ~ availableVisibility)|trans }}
                    </option>
                {% endfor %}
            </select>
            <label for="data_{{ iteration }}_visibility">{{ 'label.visibility'|trans }}</label>
        </div>

        <div class="s1 icon-holder">
            <i class="fa fa-remove fa-fw removeDatum" data-action="click->additional-data#remove"></i>
        </div>

        <div>
            <input class="position"
                   type="hidden"
                   id="data_{{ iteration }}_position"
                   name="{{ entity }}[data][{{ iteration }}][position]"
                   maxlength="255"
                   {% if datum is defined %}value="{{ datum.position }}"{% endif %}
            >
        </div>

        {% if hasChoiceList %}
            <div class="input-field">
                <input type="hidden"
                       id="data_{{ iteration }}_choiceList"
                       name="{{ entity }}[data][{{ iteration }}][choiceList]"
                       maxlength="255"
                       value="{{ choiceList.id }}"
                >
            </div>
        {% endif %}
    </div>
</div>
