<div class="input-field image-preview-wrapper image-field col s5 row-file" data-controller="preview">
    <label class="file-label">
        {% if datum is defined and datum.image is not null %}
            <img data-preview-target="image"
                 class="preview-image" src="{{ preload(asset(datum.imageSmallThumbnail), {as: 'image'}) }}"
            />
        {% else %}
            <img data-preview-target="image"
                 class="preview-image"
                 src="{{ preload(asset('build/images/default.png'), {as: 'image'}) }}"
            />
        {% endif %}
        <input data-action="change->preview#load"
               type="file" id="data_{{ iteration }}_fileImage"
               name="{{ entity }}[data][{{ iteration }}][fileImage]"
               class="has-preview hidden"
               accept="image/png, image/jpeg, image/webp, image/avif"
        >
    </label>
</div>