<div class="input-field image-preview-wrapper file-field col s5 row-file">
    <label class="file-label">
        {% if datum is defined %}
            <img class="preview-image" src="{{ preload(asset(datum.image.thumbnailPath)) }}" aria-label="{{ 'aria.datum_image_thumbnail' }}" />
        {% else %}
            <img class="preview-image" src="{{ preload(asset('../build/images/default.png')) }}" aria-label="{{ 'aria.default_image'|trans }}"/>
        {% endif %}
        <input type="file" id="data_{{ iteration }}_image" name="item[data][{{ iteration }}][image][uploadedFile]" class="has-preview hidden" accept="image/png, image/jpeg, image/jpg, image/gif, image/webp">
    </label>
</div>