<div class="input-field outlined s10 offset-s1 m5">
    <input type="url"
           id="data_{{ iteration }}_value"
           name="{{ entity }}[data][{{ iteration }}][value]"
           {% if datum is defined %}value="{{ datum.value }}"{% endif %}
           placeholder=" "
           data-additional-data-target="value"
    >
    <label for="data_{{ iteration }}_value" class="{% if datum is defined %}active{% endif %}">{{ 'label.value'|trans }}</label>
</div>