<div class="input-field outlined s10 m5 datum-input-field">
    <div class="star-rating editable">
        {% for i in 10 .. 1 %}
            {% set isHalf = loop.index % 2 == 0 %}
            <input class="star-rating-input"
                   type="radio"
                   name="{{ entity }}[data][{{ iteration }}][value]" value="{{ i }}"
                   value="{{ i }}"
                   id="data_{{ iteration }}_value_{{ i }}"
                   data-additional-data-target="value"
                   {% if datum is defined and datum.value == i %}checked{% endif %}
            >

            <label class="star-rating-view {{ isHalf ? 'is-half' }}" for="data_{{ iteration }}_value_{{ i }}">
                <svg class="icon {{ isHalf ? 'icon-star-half' : 'icon-star' }}">
                    <use xlink:href="{{ isHalf ? '#icon-star-half' : '#icon-star' }}"></use>
                </svg>
            </label>
        {% endfor %}
    </div>
</div>
