<div class="input-field outlined s10 m5">
        <textarea id="data_{{ iteration }}_value"
                  name="{{ entity }}[data][{{ iteration }}][value]"
                  class="materialize-textarea"
                  placeholder=" "
                  data-additional-data-target="value"
                  data-controller="textarea"
        >{% if datum is defined %}{{ datum.value }}{% endif %}</textarea>
    <label for="data_{{ iteration }}_value"
           class="{% if datum is defined %}active{% endif %}">{{ 'label.value'|trans }}</label>
</div>