<div {% if template is defined %} data-template="{{ template.name }}"{% endif %} class="datum row">
    <div class="col s1 offset-s1 hide-on-med-and-down handle">
        <i class="fa fa-arrows-v fa-fw"></i>
    </div>

    <div class="input-field col s5 m1 label">
        <span class="complementary-color">{{ 'label.text'|trans }}</span>
        <input type="hidden" id="data_{{ iteration }}_type" name="item[data][{{ iteration }}][type]" length="255" value="{{ constant('App\\Enum\\DatumTypeEnum::TYPE_TEXT') }}">
    </div>

    <div class="input-field col s12 m3 itemLabel">
        <input class="countable" type="text" id="data_{{ iteration }}_label" name="item[data][{{ iteration }}][label]" length="255" {% if datum is defined %}value="{{ datum.label }}"{% elseif label is defined %}value="{{ label }}"{% endif %}>
        <label for="data_{{ iteration }}_label" class="required {% if label is defined or datum is defined %}active{% endif %}">{{ 'label.label'|trans }}</label>
    </div>

    <div class="input-field col s12 m4">
        <input class="countable" type="text" id="data_{{ iteration }}_value" name="item[data][{{ iteration }}][value]" length="255" {% if datum is defined %}value="{{ datum.value }}"{% endif %}>
        <label for="data_{{ iteration }}_value" class="required {% if datum is defined %}active{% endif %}">{{ 'label.value'|trans }}</label>
    </div>

    <div class="col s5 m1">
        <button type="button" name="remove" class="btn waves-effect waves-light red removeDatum align-with-inputs"><i class="fa fa-remove fa-fw"></i></button>
    </div>

    <div class="input-field">
        <input class="position" type="hidden" id="data_{{ iteration }}_position" name="item[data][{{ iteration }}][position]" length="255" {% if datum is defined %}value="{{ datum.position }}"{% endif %}>
    </div>
</div>
