<tr class="message" id="{{ message.key }}">
    <td>
        <span class="circle-new" title="{{ 'tooltip.new'|trans }}">&#x25CF;</span>
    </td>
    <td>
        <a class="message-key" href="#{{ message.key }}">{{ message.key }}</a>
        <textarea
                class="message-textarea materialize-textarea"
                data-key="{{ message.key }}"
                onchange="editTranslation(this)"
        >{{ message.translation }}</textarea>
        <div class="ajax-result"></div>
    </td>
    <td></td>
    <td></td>
    <td></td>
</tr>
