{% extends "@Translation/WebUI/base.html.twig" %}
{% import _self as macro %}

{% set breadcrumb = buildBreadcrumb([
    {'route': 'app_admin_index', 'trans': 'menu.admin'},
    {'route': 'translation_index', 'trans': 'menu.translations'}
]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="title-block">
            <h1>{{ 'menu.admin'|trans }}</h1>
        </div>

        <div class="content-block">
            {{ include('/App/Admin/partials/tabs.html.twig', {current: 'trans'}) }}

            <div class="block-element">
                {{ 'label.configs'|trans }}
                {% for c in configNames %}
                    <a class="{% if configName != c %}inactive{% endif %}" href="{{ path('translation_index', {configName: c}) }}">
                        {{ c }}
                    </a>
                {% endfor %}
            </div>

            <div class="container">
                <div class="catalogue-list">
                {% for catalogue in catalogues %}
                    <div class="block-element">
                        <h5 class="header">{{ localeMap[catalogue.locale] }}</h5>
                        <table class="domain-table">
                            {% set totalMessages = 0 %}
                            {% set translatedMessages = 0 %}
                            {% for domain,messages in catalogue.all|sort|reverse %}
                                {% set pg = 0 %}
                                {% set translated = 0 %}
                                {% for message in messages %}
                                    {% if message != '' %}
                                        {% set translated = translated + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if translated > 0 %}
                                    {% set pg = (translated/messages|length*100)|round(2) %}
                                {% endif %}
                                <tr>
                                    <td>
                                        <a href="{{ path("translation_show", {configName: configName, domain:domain, locale:catalogue.locale}) }}">
                                            {{ domain }}
                                        </a>
                                    </td>
                                    <td class="progressbar-cell">
                                        <progress value="{{ pg }}" max="100"></progress>
                                    </td>
                                    <td>
                                        <small>({{ translated }} / {{ messages|length }})</small>
                                        {{ macro.progress(pg) }}
                                    </td>
                                </tr>
                                {% set totalMessages = totalMessages + messages|length %}
                                {% set translatedMessages = translatedMessages + translated %}
                            {% endfor %}
                        </table>
                        {% if totalMessages == 0 %}
                            {% set pg = 100 %}
                        {% elseif translatedMessages > 0 and totalMessages > 0 %}
                            {% set pg = (translatedMessages/totalMessages*100)|round(2) %}
                        {% else %}
                            {% set pg = 0 %}
                        {% endif %}

                        <div class="total-progress">
                            Total progress for this language:
                            <small>({{ translatedMessages }} / {{ totalMessages }})</small>
                            {{ macro.progress(pg) }}
                            <progress value="{{ pg }}" max="100"></progress>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro progress(pg) %}
    {% if pg < 60 %}
        {% set type="danger" %}
    {% elseif pg < 80 %}
        {% set type="warning" %}
    {% else %}
        {% set type="success" %}
    {% endif %}
    <b class="progress-{{ type }}">{{ pg }}%</b>
{% endmacro %}
