<div>
    <table class="striped">
        <thead>
        <tr>
            <th>{{ 'label.event'|trans }}</th>
            <th>{{ 'label.logged_at'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for log in logs %}
            <tr class="list-element resize-element">
                <td>
                    <ul class="log">
                        {% for message in getLogMessages(log) %}
                            <li>{{ message|safeContent }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td title="{{ log.loggedAt|date(app.user.dateFormat|default('Y-m-d'), app.user.timezone|default('UTC')) }}">{{ log.loggedAt|timeAgo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginator is defined %}
        {{ include('App/_partials/_pagination.html.twig', {paginator: paginator}) }}
    {% endif %}
</div>
