{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_history_index', 'trans': 'menu.history'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div {{ stimulus_controller('filter-ajax') }}>
        <div class="collection-header">
            <div class="title-block">
                <h1>{{ 'menu.history'|trans }}</h1>

                <div class="btn-holder">
                    {{ include('App/History/_form.html.twig') }}
                </div>
            </div>
        </div>

        <div class="content-block" data-filter-ajax-target="content">
            {{ include('App/History/_logs_table.html.twig', {'logs': logs}) }}
        </div>
    </div>
{% endblock %}
