{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_album_index', 'trans': 'menu.albums'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block meta %}
    {% if context == 'shared'  %}
        {{ include('App/_partials/_meta.html.twig', {
            'title': renderTitle(breadcrumb),
            'description': 'menu.collections_shared'|trans({'%username%':  app.request.get('username')}),
        }) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div {{ stimulus_controller('filter') }}>
        <div class="collection-header">
            <div class="title-block">
                <h1>{{ 'menu.albums'|trans }}</h1>
                <ul class="nav nav-pills">
                    <li>{{ 'counter.photo'|trans({'%count%': getCounters('albums').items}) }}</li>
                    <li>{{ 'counter.album'|trans({'%count%': getCounters('albums').children}) }}</li>
                </ul>
            </div>

            <div></div>

            <div class="btn-holder">
                <div class="left">
                    {% if context == 'default' %}
                        <a href="{{ path('app_album_add') }}" class="button" title="{{ 'tooltip.add_album'|trans }}">
                            <i class="fa fa-folder fa-fw"></i>
                        </a>
                        {{ include('App/_partials/_share_icon.html.twig', { route: 'app_shared_album_index' }) }}
                        {{ include('App/_partials/_visibility.html.twig') }}
                    {% endif %}
                </div>
                <div class="right">
                    <input data-action="keyup->filter#filter" class="filter-input" autocomplete="off" type="text" placeholder="{{ 'filter.by_name'|trans }}" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="content-block">
            <div class="collections grid-container-collections">
                {{ include('App/Album/_list.html.twig', {'albums': albums}) }}
            </div>
        </div>
    </div>
{% endblock %}
