{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_album_index', 'trans': 'menu.albums'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="collection-header">
        <div class="title-block">
            <h1>{{ 'menu.albums'|trans }}</h1>
            <ul class="nav nav-pills">
                <li>{{ 'counter.photo'|trans({'%count%':photosCounter}) }}</li>
                <li>{{ 'counter.album'|trans({'%count%': albums|length}) }}</li>
            </ul>
        </div>

        <div></div>

        <div class="btn-holder">
            <div class="left">
                {% if context == 'default' %}
                    <a href="{{ path('app_album_add') }}" class="button" title="{{ 'tooltip.add_album'|trans }}">
                        <i class="fa fa-folder fa-fw"></i>
                    </a>
                    <i data-target="modal-share" class="button btn-share modal-trigger fa fa-share fa-fw" title="{{ 'tooltip.share'|trans }}"></i>
                {% endif %}
            </div>
            <div class="right">
                <input id="filter-by-name-input" class="filter-input" type="text" placeholder="{{ 'filter.by_name'|trans }}" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="content-block">
        <div class="collections grid-container-collections">
            {% for album in albums %}
                <div class="collection-element element" data-title="{{ album.title }}">
                    <a class="collection-circle-thumbnail" href="{{ path('app_album_show'|applyContext, {'id': album.id}) }}" aria-label="{{ 'aria.album'|trans({'%title%': album.title}) }}">
                        <span class="color-avatar circle avatar color-{{ album.color }}">{{ album.title|first|upper }}</span>
                    </a>
                    <span class="collection-title">{{ album.title|truncate(27) }}</span>
                    <p class="collection-stats">
                        {{ 'counter.photo'|trans({'%count%': album.photos|length}) }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% if context == 'default' %}
        {{ include('Modal/share.html.twig', {'route': url('app_user_album_index', {username: app.user.username})}) }}
    {% endif %}
{% endblock %}
