<div id="{{ id }}" data-controller="modal--default"
     class="modal modal-custom"
     tabindex="-1"
     role="dialog"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title"></span>{{ title }}
            </div>
            <div class="modal-body">
                <b>{{ 'message.custom_css_colors_help'|trans }}</b>
                <br>
                <b>{{ 'message.custom_css_properties_help'|trans }}</b>
                <pre>{{ code }}</pre>
            </div>
        </div>
    </div>
</div>