<div id="scrap" data-controller="modal--default" class="modal modal-custom" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title"></span>{{ 'title.scrap'|trans }}
            </div>
            {{ form_start(scrapingForm, {'attr': { 'id': 'scraping', 'data-action': 'submit->scraping#scrap'} }) }}
            <div class="modal-body">
                {{ form_row(scrapingForm.url, {'label' : 'label.url'}) }}

                {{ form_row(scrapingForm.scraper, {'label' : 'label.scraper', 'attr' : {
                    'data-controller': 'select--default'
                }}) }}

                <div class="row">
                    <div class="col s12 l5 offset-l1 xl3 offset-xl1">
                     {{ form_row(scrapingForm.scrapName, {'label' : 'label.scrap_name'}) }}
                    </div>
                    <div class="col s12 l5 xl3">
                        {{ form_row(scrapingForm.scrapImage, {'label' : 'label.scrap_image'}) }}
                    </div>
                    <div class="col s12 l5 xl3">
                        {{ form_row(scrapingForm.scrapData, {'label' : 'label.scrap_data'}) }}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="right">
                    <button type="submit" form="scraping" class="btn waves-effect waves-light">{{ 'btn.scrap'|trans }}</button>
                    <a data-scraping-target="modalCloseButton" class="modal-close waves-effect waves-light btn btn-cancel">{{ 'btn.cancel'|trans }}</a>
                </div>
            </div>
            {{ form_end(scrapingForm) }}
        </div>
    </div>
</div>