<div id="scrap" data-controller="modal--default" class="modal modal-custom" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title"></span>{{ 'title.scrap'|trans }}
            </div>
            {{ form_start(scrappingForm, {'attr': { 'id': 'scrapping', 'data-action': 'submit->scrapping#scrap'} }) }}
            <div class="modal-body">
                {{ form_row(scrappingForm.url, {'label' : 'label.url'}) }}

                {{ form_row(scrappingForm.scrapper, {'label' : 'label.scrapper', 'attr' : {
                    'data-controller': 'select--default'
                }}) }}

                <div class="error-helper" data-scrapping-target="modalError"></div>
            </div>

            <div class="modal-footer">
                <div class="right">
                    <button type="submit" form="scrapping" class="btn waves-effect waves-light">{{ 'btn.scrap'|trans }}</button>
                    <a data-scrapping-target="modalCloseButton" class="modal-close waves-effect waves-light btn btn-cancel">{{ 'btn.cancel'|trans }}</a>
                </div>
            </div>
            {{ form_end(scrappingForm) }}
        </div>
    </div>
</div>