{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_statistics_index', 'trans': 'menu.statistics'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block meta %}
    {% if context == 'shared' %}
        {{ include('App/_partials/_meta.html.twig', {
            'title': renderTitle(breadcrumb),
            'description': 'menu.statistics_shared'|trans({'username':  app.request.get('username')})
        }) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="title-block">
        <div>
            <h1>{{ 'menu.statistics'|trans }}</h1>
            <ul class="nav nav-pills">
                <li>{{ 'counter.collection'|trans({'count': counters.collections}) }}</li>
                <li>{{ 'counter.item'|trans({'count': counters.items}) }}</li>
                <li>{{ 'counter.tag'|trans({'count': counters.tags}) }}</li>
                <li>{{ 'counter.sign'|trans({'count': counters.signs}) }}</li>
            </ul>
        </div>
    </div>

    <div></div>

    <div class="btn-holder">
        {% if context == 'default' %}
            {{ include('App/_partials/_icon/_share.html.twig', {route: 'app_shared_statistics_index'}) }}
            {{ include('App/_partials/_visibility.html.twig') }}
        {% endif %}
    </div>

    <div class="statistics-holder">
        <div class="content-block calendars" data-controller="tabs">
            <div class="block-element">
                <h2 class="statistics-title">{{ 'title.activity'|trans }}</h2>
                <div class="tabs-block">
                    <ul class="nav nav-pills">
                        {% for year, value in calendarData %}
                            <li class="tab {{ loop.first ? 'current' }}" data-tabs-target="tab"
                                data-action="click->tabs#display" data-for="calendar_{{ year }}">
                                {{ year }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% for year, value in calendarData %}
                    <div data-controller="statistics--calendar"
                         data-tabs-target="panel"
                         data-json="{{ value|json_encode() }}"
                         data-name="calendar_{{ year }}"
                         data-year="{{ year }}"
                         class="panel calendar {{ loop.first ? 'current' }}"
                         data-action="resize@window->statistics--calendar#resize"
                    ></div>
                {% endfor %}
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="content-block bar-charts">
            <div class="block-element bar-chart-row">
                <div class="left-chart bar-chart">
                    <h2 class="statistics-title">{{ 'title.charts.month_days'|trans }}</h2>
                    <div data-controller="statistics--bar"
                         class="chart"
                         data-json="{{ monthDaysChartData|json_encode() }}"
                         data-action="resize@window->statistics--bar#resize"
                    ></div>
                </div>
                <div class="right-chart bar-chart">
                    <h2 class="statistics-title">{{ 'title.charts.hours'|trans }}</h2>
                    <div data-controller="statistics--bar"
                         class="chart"
                         data-json='{{ hoursChartData|json_encode() }}'
                         data-action="resize@window->statistics--bar#resize"
                    ></div>
                </div>
            </div>
            <div class="block-element bar-chart-row last">
                <div class="left-chart bar-chart">
                    <h2 class="statistics-title">{{ 'title.charts.months'|trans }}</h2>
                    <div data-controller="statistics--bar"
                         class="chart"
                         data-json='{{ monthsChartData|json_encode() }}'
                         data-action="resize@window->statistics--bar#resize"
                    ></div>
                </div>
                <div class="right-chart bar-chart">
                    <h2 class="statistics-title">{{ 'title.charts.week_days'|trans }}</h2>
                    <div data-controller="statistics--bar"
                         class="chart"
                         data-json='{{ weekDaysChartData|json_encode() }}'
                         data-action="resize@window->statistics--bar#resize"
                    ></div>
                </div>
            </div>

            <div class="block-element bar-chart-row last">
                <h2 class="statistics-title">{{ 'title.charts.items_evolution'|trans }}</h2>
                <div data-controller="statistics--line"
                     class="line"
                     data-json='{{ itemsEvolutionData|json_encode() }}'
                     data-action="resize@window->statistics--bar#resize"
                ></div>
            </div>
        </div>

        <div class="content-block bar-charts">
            <div class="block-element bar-chart-row">
                <h2 class="statistics-title">{{ 'title.charts.radial_tree'|trans }}</h2>
                <div data-controller="statistics--tree"
                     class="tree"
                     data-json='{{ treeJson }}'
                     data-action="resize@window->statistics--bar#resize"
                ></div>
            </div>
        </div>
    </div>
{% endblock %}
