{{ form_start(form) }}
    {{ form_row(form.image) }}
    <div class="row">
        <div class="col s10 offset-s1 l5 offset-l1 xl3 offset-xl3">
            {{ form_row(form.name, {'label' : 'label.name'}) }}
        </div>
        <div class="col s10 offset-s1 l5 xl3">
            {{ form_row(form.visibility, {'label' : 'label.visibility'} ) }}
        </div>
    </div>

    <div class="row">
        <div class="col s10 offset-s1 l5 offset-l1 xl3 offset-xl3">
            {{ form_row(form.parent, {'label' : 'label.parent'}) }}
        </div>
    </div>

    <div class="row center-align form-btn-holder">
        <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
        <a href="{{ path('app_wishlist_index') }}" class="waves-effect red darken-1 waves-light btn"> {{ 'btn.cancel'|trans }}</a>
    </div>
{{ form_end(form) }}