{% for wishlist in wishlists %}
    <div class="collection-element resize-element" data-title="{{ wishlist.name }}" data-filter-target="element">
        <a class="collection-circle-thumbnail" href="{{ path('app_wishlist_show'|applyContext, {'id': wishlist.id}) }}">
            {% if wishlist.image != null %}
                <div class="image-wrapper placeholder placeholder--circle" data-controller="lazy-loading">
                    <img data-src="{{ asset(wishlist.image) }}" data-lazy-loading-target="image">
                </div>
            {% else %}
                <span class="color-avatar circle avatar color-{{ wishlist.color }}">{{ wishlist.name|first|upper }}</span>
            {% endif %}
        </a>
        <span class="collection-title">{{ wishlist.name }}</span>
        <p class="collection-stats">
            {{ 'counter.wish'|trans({'count': getCounters(wishlist).items}) }}
        </p>
    </div>
{% endfor %}
