{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_wishlist_index', 'trans': 'menu.wishlists'}], null, 'breadcrumb.edit_wishlists_index') %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'title.edit_wishlists_index'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form) }}
            <div class="content-block">
                <div data-controller="list-properties">
                    <div class="row">
                        <div class="col s12 l5 offset-l1 xl4 offset-xl2">
                            {{ form_row(form.displayMode, {'label' : 'label.wishlists_display_mode', 'attr': {
                                'data-controller': 'select--display-mode',
                                'data-action': 'change->list-properties#displayProperties'
                            }} ) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="center-align form-btn-holder">
                <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
                <a href="{{ path('app_wishlist_index') }}" class="waves-effect btn-cancel waves-light btn"> {{ 'btn.cancel'|trans }}</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
