{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_wishlist_index', 'trans': 'menu.wishlists'}], wishlist, 'breadcrumb.edit_wishlist') %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'title.edit_wishlist'|trans({'%wishlist%': wishlist.name}) }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form) }}
            <div class="row">
                <div class="col offset-s1 s10 m5 offset-m1">
                    {{ form_row(form.name, {'label' : 'label.name'}) }}
                </div>
                <div class="col offset-s1 s10 m3 offset-m">
                    {{ form_row(form.parent, {'label' : 'label.parent'}) }}
                </div>
                <div class="col offset-s1 s10 offset-m0 m2">
                    {{ form_row(form.visibility, {'label' : 'label.visibility'} ) }}
                </div>
            </div>

            <div class="row">
                <div class="col offset-s1 s10">
                    {{ form_row(form.image, {'attr': {'src' : wishlist.image ? wishlist.image.path : null }}) }}
                </div>
            </div>

            <div class="form-btn-holder">
                <button type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
                <a href="{{ path('app_wishlist_show', {'id': wishlist.id}) }}" class="waves-effect waves-light btn red darken-1">{{ 'btn.cancel'|trans }}</a>
            </div>
            <div class="clearfix"></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
