{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_wishlist_index', 'trans': 'menu.wishlists'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb)  }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb)  }}
{% endblock %}

{% block content %}
    <div class="collection-header">
        <div class="title-block">
            <h1>{{ 'menu.wishlists'|trans }}</h1>
            <ul class="nav nav-pills">
                <li>{{ 'counter.wish'|trans({'%count%': counters['totalWishesCount']}) }}</li>
                <li>{{ 'counter.wishlist'|trans({'%count%': counters['totalChildrenCount']}) }}</li>
            </ul>
        </div>

        <div></div>

        <div class="btn-holder">
            <div class="left">
                {% if context == 'default' %}
                    <a href="{{ path('app_wishlist_add') }}" class="button" title="{{ 'tooltip.add_wishlist'|trans }}">
                        <i class="fa fa-folder fa-fw"></i>
                    </a>
                    <i data-target="modal-share" class="button btn-share modal-trigger fa fa-share fa-fw" title="{{ 'tooltip.share'|trans }}"></i>
                {% endif %}
            </div>
            <div class="right">
                <input id="filter-by-name-input" class="filter-input" type="text" placeholder="{{ 'filter.by_name'|trans }}" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="content-block">
        <div class="collections grid-container-collections">
            {{ include('App/Wishlist/partials/list.html.twig', {'wishlists': wishlists}) }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% if context == 'default' %}
        {{ include('Modal/share.html.twig', {'route': url('app_user_wishlist_index', {username: app.user.username})}) }}
    {% endif %}
{% endblock %}

