{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_wishlist_index', 'trans': 'menu.wishlists'}]) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block meta %}
    {% if context == 'shared' %}
        {{ include('App/_partials/_meta.html.twig', {
            'title': renderTitle(breadcrumb),
            'description': 'menu.wishlists_shared'|trans({'username':  app.request.get('username')}),
        }) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block content %}
    <div data-controller="filter">
        <div class="collection-header">
            <div class="title-block">
                <h1>{{ 'menu.wishlists'|trans }}</h1>
                <ul class="nav nav-pills">
                    <li>{{ 'counter.wish'|trans({'count':  getCounters('wishlists').items}) }}</li>
                    <li>{{ 'counter.wishlist'|trans({'count': getCounters('wishlists').children}) }}</li>
                </ul>
            </div>

            <div></div>

            <div class="btn-holder">
                <div class="left">
                    {% if context == 'default' %}
                        <a href="{{ path('app_wishlist_add') }}" class="button"
                           title="{{ 'tooltip.add_wishlist'|trans }}">
                            <i class="fa fa-folder fa-fw"></i>
                        </a>
                        {{ include('App/_partials/_icon/_share.html.twig', {route: 'app_shared_wishlist_index'}) }}
                        {{ include('App/_partials/_visibility.html.twig') }}
                    {% endif %}
                </div>
                <div class="right">
                    <input data-action="keyup->filter#filter" class="filter-input" autocomplete="off" type="text"
                           placeholder="{{ 'filter.by_name'|trans }}"/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="content-block">
            <div class="collections grid-container-collections">
                {{ include('App/Wishlist/_list.html.twig', {'wishlists': wishlists}) }}
            </div>
        </div>
    </div>
{% endblock %}

