<li class="{{ 'app_user_collection' in route or 'app_user_item' in route ? 'current' }}"><a href="{{ path('app_user_collection_index') }}"><i class="fa fa-archive fa-fw"></i><span>{{ 'menu.collections'|trans }}</span></a></li>
<li class="{{ 'app_user_wishlist' in route ? 'current' }}"><a href="{{ path('app_user_wishlists') }}"><i class="fa fa-heart fa-fw"></i><span>{{ 'menu.wishlists'|trans }}</span></a></li>
<li class="{{ 'app_user_tag' in route ? 'current' }}"><a href="{{ path('app_user_tags') }}"><i class="fa fa-tags fa-fw"></i><span>{{ 'menu.tags'|trans }}</span></a></li>
<li class="{{ 'app_user_album' in route ? 'current' }}"><a href="{{ path('app_user_albums') }}"><i class="fa fa-camera fa-fw"></i><span>{{ 'menu.albums'|trans }}</span></a></li>
<li class="{{ 'app_user_signs' in route ? 'current' }}"><a href="{{ path('app_user_signs') }}"><i class="fa fa-leaf fa-fw"></i><span>{{ 'menu.signs'|trans }}</span></a></li>
<li class="{{ 'app_user_statistics' in route ? 'current' }}"><a href="{{ path('app_user_statistics') }}"><i class="fa fa-area-chart fa-fw"></i><span>{{ 'menu.statistics'|trans }}</span></a></li>